html {
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}
body {
    padding-top: 20px;
    /*font-size: 14px;*/
    margin:0px;
    padding:0px;
    font-family: "franklin-gothic-urw", arial, sans-serif;
    font-weight: 400;
}

a:link, a:visited {
  color: #2A69A6;
}

a:focus, a:hover {
  color: #e57200;
  text-decoration: underline;
}

@media (min-width: 1200px) {
  .container-wide {
    width: 1200px;
  }
}

.orange-item {
  background-color:rgba(235,95,12, 0.6);
  color:#002F6C;
}

a.orange-item:link, a.orange-item:visited {
  background-color:rgba(235,95,12, 0.6);
  color:#002F6C;
}

a.orange-item:hover, a.orange-item:focus {
  background-color: #e57200 !important;
  color:#002F6C !important;
}

a.list-group-item-action:hover, a.list-group-item-action:focus {
  color: #e57200;
}

.bg-inverse {
  background-color: #002F6C !important;
}

a.bg-inverse:link, a.bg-inverse:visited {
  color: white;
}

a.bg-inverse:focus, a.bg-inverse:hover {
  background-color: #002F6C !important;
  color: #e57200;
  text-decoration: none;
}

.list-group-item.active {
  color: white;
  background-color: #002F6C;
  border-color: #002F6C;
}

a.list-group-item.active,
button.list-group-item.active {
  color: white;
  background-color: #002F6C;
  border-color: #002F6C;
}

a:focus.list-group-item.active,
a:hover.list-group-item.active {
  color: white;
  color: #e57200;
  background-color: #002F6C;
  border-color: #002F6C;
}

.dropdown-menu a {
  color: #002359;
}

.dropdown-menu a {
  color: #002359;
}

.dropdown-item:focus, .dropdown-item:hover {
  color: #002359;
  background-color: #F1F1EF;
}

.dropdown-item.active, .dropdown-item:active {
  background-color: #002F6C;
}


#q		{
  width:115px;
  -webkit-transition:width 0.3s ease-in-out;
}
#q:focus	{
  width:220px;
  -webkit-transition:width 0.5s ease-in-out;
}

.navbar-light .navbar-nav .nav-link {
  color: #002F6C;
  font-family: 'franklin-gothic-urw-cond', 'arial narrow', sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: #EB5F0C;
}

.navbar-light .navbar-nav .open > .nav-link,
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.open,
.navbar-light .navbar-nav .nav-link.active {
  color: white;
  background-color: #002F6C;
}

.my-navbar-dropdown-item
{
  font-family: 'franklin-gothic-urw', arial, sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.navbar-light .navbar-toggler {
  border-color: #002F6C;
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#002F6C' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

@media (max-width: 575px){.jumbotron {
  background-color:#F1F1EF;
  padding: 10px;
  margin-bottom: 20px;
  padding-bottom: 12px;
  padding-top: 20px;
}
}


@media (min-width: 576px){.jumbotron {
  background-color:#F1F1EF;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
}

.my-row-zebra .row:nth-of-type(2n+1){
  background-color: #F1F1EF;
}

.my-ul-zebra li:nth-of-type(2n+1){
  background-color: #F1F1EF;
}

.my-p-zebra p:nth-of-type(2n){
  background-color: #F1F1EF;
}

.my-tr-zebra tr:nth-of-type(2n+1){
  background-color: #F1F1EF;
}


.my-div-zebra div:nth-of-type(2n){
  background-color: #F1F1EF;
}

.my-div-odd-zebra div:nth-of-type(2n+1){
  background-color: #F1F1EF;
}

.my-col-12-zebra .col-12:nth-of-type(2n+1){
  background-color: #F1F1EF;
}

@media (min-width: 992px) {
  .my-col-12-zebra-twocols .col-12:nth-of-type(4n+1){
    background-color: #F1F1EF;
  }
  .my-col-12-zebra-twocols .col-12:nth-of-type(4n+4){
    background-color: #F1F1EF;
  }
}
@media (max-width: 991px) {
  .my-col-12-zebra-twocols .col-12:nth-of-type(2n+1){
    background-color: #F1F1EF;
  }
}
@media (max-width: 991px) {
  .zebra-md .col-12:nth-of-type(2n){
    background-color: #F1F1EF;
  }
}


h1,
.h1 {
  font-size: 34px;
}
h2,
.h2,
.bodoni-h2 {
  font-size: 28px;
}
@media (max-width: 575px) {
  h1,
  .h1 {
    font-size: 26px;
  }
  h2,
  .h2,
  .bodoni-h2 {
    font-size: 24px;
  }
}
h3,
.h3 {
  font-size: 22px;
}
h4,
.h4 {
  font-size: 20px;
}
h5,
.h5 {
  font-size: 18px;
}
h6,
.h6 {
  font-size: 18px;
}

.bodoni-h2
{
  font-family: 'bodoni-urw', georgia, serif;
  font-weight: 700;
  font-style: italic;
  line-height: 1.1;
  color: inherit;
  text-transform: uppercase;
}

.smaller-h5
{
  font-family: "franklin-gothic-urw", arial, sans-serif;
  line-height: 1.1;
  color: inherit;
  text-transform: uppercase;
  font-weight: 700;
}

nonupper-h5,
.nonupper-h5
{
  font-size: 18px;
  font-family: "franklin-gothic-urw", arial, sans-serif;
  font-weight: 700;
  line-height: 1.1;
  color: inherit;
}

nonupper-h6,
.nonupper-h6
{
  font-size: 18px;
  font-family: 'bodoni-urw', georgia, serif;
  font-weight: 900;
  line-height: 1.1;
  color: inherit;
}


h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "franklin-gothic-urw", arial, sans-serif;
  font-weight: 700;
  line-height: 1.1;
  color: inherit;
  text-transform: uppercase;
}

a.dept-logo-large:link, a.dept-logo-large:visited
{
  font-family: "franklin-gothic-urw", arial, sans-serif;
  font-weight: 700;
  font-size: 36px;
  color: white;
  text-transform: uppercase;
}

a.dept-logo-large:focus, a.dept-logo-large:hover
{
  color: #e57200;
  text-decoration: none;
}

h2,
.h2
{
  font-family: "franklin-gothic-urw", arial, sans-serif;
  font-weight: 700;
  font-style: italic;
  line-height: 1.1;
  color: inherit;
  text-transform: uppercase;
}

h4,
.h4
{
  font-family: 'bodoni-urw', georgia, serif;
  font-weight: 700;
  font-style: italic;
  line-height: 1.1;
  color: inherit;
  text-transform: uppercase;
}

h6,
.h6
{
  font-family: 'bodoni-urw', georgia, serif;
  font-weight: 700;
  font-style: italic;
  line-height: 1.1;
  color: inherit;
  text-transform: uppercase;
}

.my-bordered-news-snippets{
  border-left: 1px dotted #DADADA;
  border-bottom: 1px dotted #DADADA;
}

.my-tooltip{
  border-bottom: 1px dotted black;
}

.my-tooltip:hover, .my-tooltip:focus{
  text-decoration: none;
}
