html {
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}
body {
    padding-top: 20px;
    /*font-size: 14px;*/
    margin:0px;
    padding:0px;
    font-family: "franklingothic-book", Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 500;
}

a:link, a:visited {
  color: #2A69A6;
}

a:focus, a:hover {
  color: #e57200;
  text-decoration: underline;
}

a.list-group-item-action:hover, a.list-group-item-action:focus {
  color: #e57200;
}

.bg-inverse {
  background-color: #002F6C !important;
}

a.bg-inverse:link, a.bg-inverse:visited {
  color: white;
}

a.bg-inverse:focus, a.bg-inverse:hover {
  background-color: #002F6C !important;
  color: #e57200;
  text-decoration: none;
}

.list-group-item.active {
  color: white;
  background-color: #002F6C;
  border-color: #002F6C;
}

a.list-group-item.active,
button.list-group-item.active {
  color: white;
  background-color: #002F6C;
  border-color: #002F6C;
}

a:focus.list-group-item.active,
a:hover.list-group-item.active {
  color: white;
  color: #e57200;
  background-color: #002F6C;
  border-color: #002F6C;
}

.dropdown-menu a {
  color: #002359;
}

.dropdown-menu a {
  color: #002359;
}

.dropdown-item:focus, .dropdown-item:hover {
  color: #002359;
  background-color: #F1F1EF;
}

.dropdown-item.active, .dropdown-item:active {
  background-color: #002F6C;
}


#q		{
  width:115px;
  -webkit-transition:width 0.3s ease-in-out;
}
#q:focus	{
  width:220px;
  -webkit-transition:width 0.5s ease-in-out;
}

.navbar-light .navbar-nav .nav-link {
  color: #002F6C;
  font-family: "franklingothic-demi", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 19px;
  text-transform: uppercase;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: #EB5F0C;
}

.navbar-light .navbar-nav .open > .nav-link,
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.open,
.navbar-light .navbar-nav .nav-link.active {
  color: white;
  background-color: #002F6C;
}

.navbar-light .navbar-toggler {
  border-color: #002F6C;
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#002F6C' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/*BOOTSTRAP FONT DEFAULTS
@font-family-sans-serif:  "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-family-serif:       Georgia, "Times New Roman", Times, serif;
@font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace;
@font-family-base:        @font-family-sans-serif;*/

@font-face {
    font-family: 'franklingothic-book';
    src: url('fonts/franklingothic-book-webfont.woff2') format('woff2'),
         url('fonts/franklingothic-book-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'franklingothic-bookit';
    src: url('fonts/franklingothic-bookit-webfont.woff2') format('woff2'),
         url('fonts/franklingothic-bookit-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'franklingothic-demi';
    src: url('fonts/franklingothic-demi-webfont.woff2') format('woff2'),
         url('fonts/franklingothic-demi-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'franklingothic-demiit';
    src: url('fonts/franklingothic-demiit-webfont.woff2') format('woff2'),
         url('fonts/franklingothic-demiit-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.jumbotron {
  background-color:#F1F1EF;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

h1,
.h1 {
  font-size: 34px;
}
h2,
.h2 {
  font-size: 28px;
}
h3,
.h3 {
  font-size: 22px;
}
h4,
.h4 {
  font-size: 22px;
}
h5,
.h5 {
  font-size: 18px;
}
h6,
.h6 {
  font-size: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "franklingothic-demi", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.1;
  color: inherit;
  text-transform: uppercase;
}

a.dept-logo-large:link, a.dept-logo-large:visited
{
  font-family: "franklingothic-demi", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 36px;
  color: white;
  text-transform: uppercase;
}

a.dept-logo-large:focus, a.dept-logo-large:hover
{
  color: #e57200;
  text-decoration: none;
}

h2,
.h2
{
  font-family: "franklingothic-demiit", "Helvetica Neue", Helvetica, Arial, sans-serif;
  /*font-style: italic;*/
  line-height: 1.1;
  color: inherit;
  text-transform: uppercase;
}

h4,
.h4
{
  font-family: 'Unna', serif;
  font-style: italic;
  font-weight: bold;
  line-height: 1.1;
  color: inherit;
  text-transform: uppercase;
}

h6,
.h6
{
  font-family: 'Unna', serif;
  font-style: italic;
  font-weight: bold;
  line-height: 1.1;
  color: inherit;
  text-transform: uppercase;
}

.my-bordered-news-snippets{
  border-left: 1px dotted #DADADA;
  border-bottom: 1px dotted #DADADA;
}
