html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}
body {
    padding-top: 20px;
    /*font-size: 14px;*/
    margin:0px;
    padding:0px;
}

a:focus, a:hover {
  color: #F1F1EF;
  text-decoration: underline;
}

.my-bordered{
  border-left: 1px dotted #c2c2c2;
}
