@font-face {
    font-family: 'franklingothic-book';
    src: url('fonts/franklingothic-book-webfont.woff2') format('woff2'),
         url('fonts/franklingothic-book-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'franklingothic-bookit';
    src: url('fonts/franklingothic-bookit-webfont.woff2') format('woff2'),
         url('fonts/franklingothic-bookit-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'franklingothic-demi';
    src: url('fonts/franklingothic-demi-webfont.woff2') format('woff2'),
         url('fonts/franklingothic-demi-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'franklingothic-demiit';
    src: url('fonts/franklingothic-demiit-webfont.woff2') format('woff2'),
         url('fonts/franklingothic-demiit-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}
body {
    padding-top: 20px;
    /*font-size: 14px;*/
    margin:0px;
    padding:0px;
    font-family: "franklingothic-book", Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.jumbotron {
  background-color:#F1F1EF;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.jumbotron h2,
.jumbotron .h2 {
  color: inherit;
  font-family: "franklingothic-demiit", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "franklingothic-demi", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.1;
  color: inherit;
  text-transform: uppercase;
}

/*@font-family-sans-serif:  "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-family-serif:       Georgia, "Times New Roman", Times, serif;
@font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace;
@font-family-base:        @font-family-sans-serif;*/


a:focus, a:hover {
  color: #e57200;
  text-decoration: underline;
}

.my-bordered{
  border-left: 1px solid #DADADA;
}
