_site
Gemfile.lock

_drafts/Fall 2016 faculty staff list.xlsx

_drafts/~$Fall 2016 faculty staff list.xlsx

_config.yml.bak

.jekyll-metadata

_UVA_website_development/
history/Jefferson/Thumbs.db
seminars/mathphys/.DS_Store
seminars/mathphys/2003-07/.DS_Store
history/Jefferson/Thumbs.db
seminars/mathphys/2007-08/.DS_Store
history/Jefferson/Thumbs.db
script/.lou_course_descriptions.py.swp
.vscode/settings.json
vendor/
img/.DS_Store
script/page.html
