url: "http://uva-math.s3-website-us-east-1.amazonaws.com"

name: Mathematics at the University of Virginia
description: Official website of Department of Mathematics at the University of Virginia (under construction)

markdown: kramdown
highlighter: rouge

excerpt_separator: <!--more-->

paginate: 10
paginate_path: "news/page:num"
permalink: /:year/:month/:day/:title/

new_seminars_label: Upcoming seminars

defaults:
  - scope:
      path: ""
      type: departmentpeople
    values:
      layout: departmentpeople_page
      nav_parent: People

collections:
  departmentpeople:
    output: true
    permalink: /people/:name/

exclude: [vendor]
