url: "https://math.virginia.edu"
geomtop: "RTG_geomtop"

name: Mathematics at the University of Virginia
description: Official website of Department of Mathematics at the University of Virginia

markdown: kramdown
# kramdown:
  # math_engine: nil

highlighter: rouge

excerpt_separator: <!--more-->

paginate: 8
paginate_path: "allnews/page:num"
permalink: /:year/:month/:title/

new_seminars_label: Upcoming seminars

defaults:
  - scope:
      path: ""
      type: departmentpeople
    values:
      layout: departmentpeople_page
      nav_parent: People

collections:
  departmentpeople:
    output: true
    permalink: /people/:name/

exclude: [vendor]

plugins:
  - jekyll-paginate
  - jekyll-feed

author: UVA Math

feed:
  path: /feed.xml
