---
events: true
permalink: /error.html
# no layout since it's a main page with special navbar that is not be repeated
# nav_id: Home
# nav_weight: 10
# nav_nesting: true
---

<!DOCTYPE html>
<html lang="en">

<head>
  <title>Error page | Mathematics at the University of Virginia</title>
  {% include main_header.html %}
</head>

<body>

{% include top_brand.html %}

{% include navbar.html %}

<div class="container">
  <div class="container">
    <div class="row row-offcanvas row-offcanvas-right">
      <div class="col-12 col-md-8">

      <h1>The page you requested does not exist</h1>

      </div><!--/span-->

  <!-- The main page's right menu -->

      <div class="col-10 col-md-4 sidebar-offcanvas" id="sidebar">

        <br class="hidden-md-up">
        {% include main_and_news_right_menu.html %}
        <br>

        {% if page.events %}
          <h3>{{ site.new_seminars_label }} (<a href="{{site.url}}/calendar/">all</a>)</h3>
          <div style="font-size:15px; margin: 0.5cm 0cm 0cm 0cm;" class="container">
            <!-- {% include cal_main.js show_from="2014" show_to="2015" max_sem=300 max_from_cal=100 %} -->
            {% include cal_main.js current="true" max_sem=8 max_from_cal=7 %}
          </div>
        {% endif %}

      </div><!--/span-->
    </div><!--/row-->
  </div>
</div>

{% include footer.html %}

{% include mathjax %}

{% include bootjs %}

</body>

</html>
