---
events: true
# no layout since it's a main page with special navbar that is not be repeated
# nav_id: Home
# nav_weight: 10
# nav_nesting: true
---

<!DOCTYPE html>
<html lang="en">

<head>
  {% include main_header.html %}
</head>

<body>

{% include top_brand.html %}

{% include navbar.html %}

<div class="container">
  <div class="container">
    <div class="row row-offcanvas row-offcanvas-right">
      <div class="col-12 col-md-8">

      <!-- Code for the news roll -->

        {% assign major-news_counter = 0 %}
        {% for post in site.categories['news'] limit:5 %}
        {% if post.categories contains 'major-news' and major-news_counter == 0 %}
        {% assign major-news_id = post.id %}
        {% assign major-news_counter = major-news_counter | plus:1 %}
        <div class="jumbotron">
          <h2 class="mb-3"><a href="{{site.url }}{{ post.url }}" style="color:inherit;">{{ post.title }}</a></h2>
          {% if post.event-date != null %}<h5>{{ post.event-date |  date: "%A, %B %-d, %Y" }}</h5>{% endif %}
          {% if post.image != null %}
            {% if post.image-address != null %}<a href="{{ post.image-address | replace: '__SITE_URL__', site.url }}">{% else %}<a href="{{site.url }}{{ post.url }}">{% endif %}<img src="{{ post.image | replace: '__SITE_URL__', site.url }}" style="max-width:100%" alt="{{post.image-alt}}" title="{{ post.image-alt }}"></a><br /><br />
          {% endif %}
          {{ post.excerpt | markdownify }}
          <p><a class="btn btn-secondary" href="{{site.url }}{{ post.url }}" role="button">{% if post.more-text == null %}View details{% else %}{{ post.more-text }}{% endif %} &raquo;</a></p>
        </div>
        {% endif %}
        {% endfor %}

        <div class="row">
          {% for post in site.categories['news'] limit:5 %}
          {% if post.id != major-news_id %}
            <div class="col-12 col-lg-6 my-bordered-news-snippets">
              {% if post.image != null %}
                {% if post.image-address != null %}<a href="{{ post.image-address | replace: '__SITE_URL__', site.url }}">{% else %}<a href="{{site.url }}{{ post.url }}">{% endif %}<img src="{{ post.image | replace: '__SITE_URL__', site.url }}" alt="{{ post.image-alt }}" title="{{ post.image-alt }}" style="max-width:70%;max-height:240px;height:auto;width:auto;" class="mt-3"></a>
              {% endif %}
              <h3 class="mb-3 mt-3"><a href="{{site.url }}{{ post.url }}" style="color:inherit;">{{ post.title }}</a></h3>
              {% if post.event-date != null %}<h6>{{ post.event-date |  date: "%A, %B %-d, %Y" }}</h6>{% endif %}
              {{ post.excerpt | markdownify }}
              <p><a class="btn btn-secondary" href="{{site.url }}{{ post.url }}" role="button">{% if post.more-text == null %}View details{% else %}{{ post.more-text }}{% endif %} &raquo;</a></p>
            </div><!--/span-->
          {% endif %}
          {% endfor %}
        </div><!--/row-->


      </div><!--/span-->

<!-- The main page's right menu -->

      <div class="col-10 col-md-4 sidebar-offcanvas" id="sidebar">

<!-- Link group on the right -->

        <br class="hidden-md-up">
        <div class="list-group h5 hidden-md-down">
          <a href="{{site.url}}/facultyresearch/" class="list-group-item list-group-item-action" >Faculty Research</a>
        </div>
        <br class="hidden-md-down">

<!-- Unifying upcoming seminars calendar -->

        {% if page.events %}
          <h3>{{ site.new_seminars_label }} (<a href="{{site.url}}/calendar/">all</a>)</h3>
          <div style="font-size:15px; margin: 0.5cm 0cm 0cm 0cm;" class="container">
            <!-- {% include cal_main.js show_from="2014" show_to="2015" max_sem=300 max_from_cal=100 %} -->
            {% include cal_main.js current="true" max_sem=8 max_from_cal=7 %}
          </div>
        {% endif %}

      </div><!--/span-->
    </div><!--/row-->
  </div>
</div>

{% include footer.html %}

{% include mathjax %}

{% include bootjs %}

</body>

</html>
