---
title: Workshop (Spring 2022)
layout: static_page_no_right_menu
permalink: /ims/workshop-spring-2022/
nav_parent: IMS
---

<h2 class="mb-2">Categorical Methods in Representation Theory and Quantum Topology</h2>

<h3 class="mb-4">April 15 &mdash; 17, 2022</h3>

<div class="row">
    <div class="col-12">
        An in-person workshop at Department of Mathematics, University of Virginia, Charlottesville, VA
        <br>
        Precedes the <a href="https://math.virginia.edu/ims/lectures/mikhail-khovanov/">Virginia Mathematics Lectures</a> by
        <a href="https://www.math.columbia.edu/~khovanov/">Mikhail Khovanov</a>, 
        April 18 &mdash; 20, 2022
    </div>
    <div class="col-12 mt-3">
        Organizers:&nbsp;&nbsp;
        {% include person_info_email_only.html UVA_id="vk6e" %}&nbsp;&nbsp;
        {% include person_info_email_only.html UVA_id="yq2dw" %}&nbsp;&nbsp;
        {% include person_info_email_only.html UVA_id="ww9c" %}
    </div>
</div>

    <hr>    

<div class="row">
    <div class="col-12 col-lg-6">
            <h5 class="mt-2"><a href="{{site.url}}/ims/workshop-spring-2022/schedule/">Conference schedule</a>
            &bull; (<a href="{{site.url}}/IMS/workshop_spring_2022/Schedule.pdf">PDF</a>)
             </h5>
 
         <h5 class="mt-2">Friday afternoon: Ridley G004   &bull; Saturday-Sunday: Maury 209 </h5>
        <br>
        <h4>Speakers (*: To be confirmed)</h4>
        <ul>
            <li><a href="https://profiles.ucr.edu/app/home/profile/vyjayanc">Vyjayanthi Chari</a> (UC, Riverside)</li>
            <li><a href="https://sites.google.com/view/gurbir-dhillon/home">Gurbir Dhillon</a> (Yale)</li>
            <li><a href="https://sites.google.com/site/meeseongim/">Mee Seong Im</a> (US Naval Academy)</li>
            <li><a href="https://math.sciences.ncsu.edu/people/ajmanion/">Andrew Manion</a> (NCSU)</li>
            <li><a href="https://dornsife.usc.edu/negron">Cris Negron</a> (University of Southern California)</li>
            <li><a href="https://www.andreinegut.com/">Andrei Negut</a> (MIT)</li>
            <li><a href="https://math.unc.edu/staff/rozansky-lev/">Lev Rozansky</a> (UNC, Chapel Hill)</li>
            <li><a href="https://sites.google.com/site/joshuasussan/home">Joshua Sussan</a> (CUNY, Medgar Evers)</li>
            <li><a href="https://uwaterloo.ca/scholar/b2webste/home">Ben Webster</a>* (University of Waterloo)</li>
        </ul>
        <div class="row">
        <div class="col-12">
        <h5 class="mt-2 mb-3"><a href="{{site.url}}/ims/workshop-spring-2022/registration/">Registration and financial support</a></h5>
        </div>
        </div>
        <div class="row">
        <div class="col-12">
        <h5 class="mt-2"><a href="{{site.url}}/ims/workshop-spring-2022/local-details/">Local information</a></h5>
        </div>
        </div>
        <div class="row">
        <div class="col-12">
        <h5 class="mt-2 mb-3"><a href="{{site.url}}/ims/workshop-spring-2022/participants/">Participants</a></h5>
        </div>
        </div>
    </div>
    
    <div class="col-12 col-lg-6">
            <img class="mt-3 mb-2" src="{{site.url}}/img/Routunda.jpg"
            style="max-width:100%;max-height:400px;height:auto;width:auto;" alt="UVa Rotunda" title="UVa Math Spring 2022 Workshop">            
    </div>
</div>  


<hr>
    <div class="row">
    <div class="col-11">
        We gratefully acknowledge financial support from the National Science Foundation (<b>DMS-2204700</b>) and the Institute of Mathematical Sciences, University of Virginia.
    </div>  
    <div class="col-1">
            <img src="{{site.url}}/img/nsf1.gif" alt="NSF logo" style="width:100%"> 
    </div> 
</div>



