---
title: Awards
layout: static_page_no_right_menu
nav_id: Awards
permalink: /awards/
nav_weight: 2
nav_nesting: true
nav_parent: News
---


<h1 class="mb-3">Recent awards</h1>

<p class="mb-3"><a href="{{site.url}}/undergraduate/awards/">Past undergraduate awards (McShane, Floyd, and Putnam prizes)</a></p>


<div class="row my-col-12-zebra">
{% for post in site.posts limit: 100 %}
{% if post.categories contains "awards" %}
<div class="col-12 my-bordered-news-snippets">
{% include news_snippet.html post=post %}
</div>
<!--/span-->
{% endif %}
{% endfor %}
</div>
