---
title: All News and Events
layout: static_page_no_right_menu
nav_parent: News
---

<h1 class="mb-3">News and events at Department of Mathematics</h1>

<div class="row row-offcanvas row-offcanvas-right">
  <div class="col-md-9">

    <div class="row my-col-12-zebra-twocols">
      {% for post in paginator.posts %}
      <div class="col-12 col-lg-6 my-bordered-news-snippets">
        {% include news_snippet.html post=post %}
      </div>
      <!--/span-->
      {% endfor %}


      <div class="col-lg-12 hidden-sm-down">
        {% if paginator.total_pages > 1 %}
          <nav class="d-flex flex-wrap gap-2 mt-4" aria-label="News pages">
          {% for page in (1..paginator.total_pages) %}
              {% if page == paginator.page %}
                <span class="btn btn-secondary h5" aria-current="page"><span class="visually-hidden">Page </span>{{ page }}</span>
              {% elsif page == 1 %}
                <a class="btn btn-secondary list-group-item-action h5" href="{{site.url}}/allnews/"><span class="visually-hidden">Page </span>{{ page }}</a>
              {% else %}
                <a class="btn btn-secondary list-group-item-action h5" href="{{site.url}}/{{ site.paginate_path | replace: ':num', page }}"><span class="visually-hidden">Page </span>{{ page }}</a>
              {% endif %}
            {% endfor %}
            </nav>
            {%endif%}
      </div>

    </div>
    <!--/row-->


  </div>
  <div class="col-md-3 sidebar-offcanvas">
    <hr class="hidden-md-up">

    <div class="list-group h5">
      {% if paginator.previous_page %}
        <a class="list-group-item list-group-item-action" href="{{ paginator.previous_page_path }}">Previous news page</a>
      {% else %}
        <span class="list-group-item disabled">Previous news page</span>
      {% endif %}

      <p class="list-group-item active" aria-current="page">Page: {{ paginator.page }} of {{ paginator.total_pages }}</p>

      {% if paginator.next_page %}
        <a class="list-group-item list-group-item-action" href="{{ paginator.next_page_path }}">Next news page</a>
      {% else %}
        <span class="list-group-item disabled">Next news page</span>
      {% endif %}
    </div>
  </div>
</div>
