---
title: All News and Events
layout: static_page_no_right_menu
nav_parent: News&Events
---

<h1 class="mb-3">News and events at Department of Mathematics</h1>

<div class="row row-offcanvas row-offcanvas-right">
  <div class="col-md-9">

    <div class="row my-col-12-zebra-twocols">
      {% for post in paginator.posts %}
      <div class="col-12 col-lg-6 my-bordered-news-snippets">
        {% if post.image != null %} {% if post.image-address != null %}<a href="{{ post.image-address | replace: '__SITE_URL__', site.url }}">{% else %}<a href="{{site.url }}{{ post.url }}">{% endif %}<img src="{{ post.image | replace: '__SITE_URL__', site.url }}" alt="{{ post.image-alt }}" title="{{ post.image-alt }}" style="{% if post.image-wide != true %}max-width:70%;{% else %}max-width:100%;{% endif %}{% if post.image-tall %}max-height:300px;{% endif %}height:auto;width:auto;" class="mt-3"></a>
        {% endif %}
        <h3 class="mb-2 mt-3"><a href="{{site.url }}{{ post.url }}" style="color:inherit;">{{ post.title }}</a></h3>
        {% if post.event-date != null and post.multi-day-event %}
        <h6>Event start date: {{ post.event-date |  date: "%Y/%m/%d" }}</h6>{% endif %}
        {% if post.event-date != null and post.multi-day-event != true %}
        <h6>Event date: {{ post.event-date |  date: "%Y/%m/%d" }}</h6>{% endif %}
        {{ post.excerpt | markdownify }}
        <p><a class="btn btn-secondary h5" href="{{site.url }}{{ post.url }}" style="white-space: normal" role="button">{% if post.more-text == null %}View details{% else %}{{ post.more-text }}{% endif %} &raquo;</a></p>
      </div>
      <!--/span-->
      {% endfor %}
    </div>
    <!--/row-->


  </div>
  <div class="col-md-3 sidebar-offcanvas">
    <hr class="hidden-md-up">

    <div class="list-group-sm">
      {% if paginator.previous_page %}
        <a class="list-group-item list-group-item-action h5" href="{{ paginator.previous_page_path }}">Previous</a>
      {% else %}
        <li class="list-group-item h5 disabled">Previous</li>
      {% endif %}

      <li class="list-group-item h5 active">Page: {{ paginator.page }} of {{ paginator.total_pages }}</li>

      {% if paginator.next_page %}
        <a class="list-group-item list-group-item-action h5" href="{{ paginator.next_page_path }}">Next</a>
      {% else %}
        <li class="list-group-item h5 disabled">Next</li>
      {% endif %}
    </div>
  </div>
</div>
