---
title: Job opportunities
layout: static_page_no_right_menu
permalink: /job-opportunities/
---

<h1 class="mb-4">Job opportunities at Department of Mathematics</h1>

<p>For current openings, visit <a href="{{ site.url }}/current-jobs/">current mathematics job opportunities</a>. The announcements below are an archive and may describe closed searches.</p>

<h2>Past job announcements</h2>
<div class="row my-col-12-zebra">
{% for post in site.posts %}
{% if post.categories contains "jobs" %}
<div class="col-12 my-bordered-news-snippets">
{% include news_snippet.html post=post heading_level=3 %}
</div>
<!--/span-->
{% endif %}
{% endfor %}
</div>
