{% assign sorted_pages = site.pages | sort: "nav_weight" %}



<div class="list-group-sm">
  <a class="list-group-item list-group-item-action h5" href="{{site.url}}/awm/">Home</a>
  <a class="list-group-item list-group-item-action h5" href="{{site.url}}/awm/who/">Who are we?&nbsp;</span></a>
  <a class="list-group-item list-group-item-action h5" href="{{site.url}}/awm/calendar/">Calendar</span></a>
  <a class="list-group-item list-group-item-action h5" href="{{site.url}}/awm/resources">Resources</span></a>
</div>

<br />
