<nav aria-label="AWM program">


<div class="list-group h5">
  <a class="list-group-item list-group-item-action" href="{{site.url}}/awm/" {% if page.url == '/awm/' %}aria-current="page"{% endif %}>AWM chapter home</a>
  <a class="list-group-item list-group-item-action" href="{{site.url}}/awm/calendar/" {% if page.url == '/awm/calendar/' %}aria-current="page"{% endif %}>Calendar</a>
  <a class="list-group-item list-group-item-action" href="{{site.url}}/awm/resources/" {% if page.url == '/awm/resources/' %}aria-current="page"{% endif %}>Resources</a>
</div>

<br class="hidden-sm-down"><br class="hidden-sm-down">


{% if page.has_AWM_calendar %}

<p><a href="https://calendar.google.com/calendar/embed?src=3ehl1jte3jnlftm6h5m28b96jo%40group.calendar.google.com&amp;ctz=America%2FNew_York">Open the AWM calendar on Google Calendar</a></p>
{% endif %}

<br />
</nav>
