{% assign category_item = include.post | default: page %}
{% if category_item.categories contains "awards" %}<p><a href="{{ site.url }}/awards/">All mathematics awards</a></p>{% endif %}
{% if category_item.categories contains "jobs" %}<p><a href="{{ site.url }}/current-jobs/">Current mathematics job opportunities</a></p>{% endif %}
{% if category_item.categories contains "conferences" %}<p><a href="{{ site.url }}/conferences/">All mathematics conferences</a></p>{% endif %}
{% if category_item.categories contains "virginia-math-bulletin" %}<p><a href="{{ site.url }}/newsletter/">All Virginia Math Bulletin issues</a></p>{% endif %}
{% if category_item.categories contains "virginia-mathematics-lectures" %}<p><a href="{{ site.url }}/ims/lectures/">Virginia Mathematics Lectures series</a></p>{% endif %}
{% if category_item.categories contains "defenses" %}<p><a href="{{ site.url }}/defenses/">All thesis defenses</a></p>{% endif %}
