<div class="list-group-sm">
      <a class="list-group-item list-group-item-action h5 {% if page.permalink ==  "/doc/" %}active{% endif %}" href="{{site.url}}/doc/">Overview</a>
      <a class="list-group-item list-group-item-action h5 {% if page.permalink == "/doc/seminars/" %}active{% endif %}" href="{{site.url}}/doc/seminars">Seminar pages</a>
      <a class="list-group-item list-group-item-action h5 {% if page.permalink == "/doc/people/" %}active{% endif %}" href="{{site.url}}/doc/people">Research areas and people pages</a>
      <a class="list-group-item list-group-item-action h5 {% if page.permalink == "/doc/news/" %}active{% endif %}" href="{{site.url}}/doc/news">News and events</a>
      <a class="list-group-item list-group-item-action h5 {% if page.permalink == "/doc/ugg/" %}active{% endif %}" href="{{site.url}}/doc/ugg">Undergraduate and Graduate information</a>
      <a class="list-group-item list-group-item-action h5 {% if page.permalink == "/doc/static/" %}active{% endif %}" href="{{site.url}}/doc/static">Static pages</a>
</div>
