{% assign sorted_pages = site.pages | sort: "nav_weight" %}


<div class="list-group-sm">
  <a class="list-group-item list-group-item-action h5" href="{{site.url}}/drp/">Home</a>
  <a class="list-group-item list-group-item-action h5" href="{{site.url}}/drp/application">Apply Now</span></a>
  <a class="list-group-item list-group-item-action h5" href="{{site.url}}/drp/projects">Past Projects</span></a>
  <a class="list-group-item list-group-item-action h5" href="{{site.url}}/drp/faq">Frequently Asked Questions</span></a>
  <a class="list-group-item list-group-item-action h5" href="{{site.url}}/drp/calendar">Calendar</span></a>
  <a class="list-group-item list-group-item-action h5" href="{{site.url}}/drp/committee">Graduate Committee</span></a>
  <a class="list-group-item list-group-item-action h5" href="{{site.url}}/drp/contact">Contact Us</span></a>
  <a class="list-group-item list-group-item-action h5" href="{{site.url}}/drp/otherdrp">Other DRP Programs</span></a>
</div>

<br class="hidden-sm-down"><br class="hidden-sm-down">


{% if page.has_DRP_calendar %}

<iframe src="https://calendar.google.com/calendar/embed?src=virginia.edu_9n2f4rpuqe828d6evcg97096n0%40group.calendar.google.com&ctz=America%2FNew_York" style="border: 0" width="380" height="300" frameborder="0" scrolling="no"></iframe>

{% endif %}

<br />
