<footer>
<div class="mt-5" style="background-color:rgba(0, 0, 0, 0.15);">
  <div class="container" style="padding:10px">
              <div class="row" style="font-size:14px;font-weight:600">
                <div class="col-md-3">
                  Maintained by: <a href='mailto:math-help@virginia.edu'>Department of Mathematics</a>
                  <br>
                   <a href="http://www.virginia.edu/copyright.html" target="new">
                     <i class="fa-regular fa-copyright" aria-hidden="true"></i></a> Copyright
                    by the Rector and Visitors of the University of Virginia
                </div>
                <div class="col-md-4 d-none d-md-block" style="text-align:right">
                  <span class="fa-solid fa-phone" aria-hidden="true"></span>
                  <a href="tel:+1-434-924-4919">(434) 924-4919</a><br>
                  <span class="fa-solid fa-fax" aria-hidden="true"></span>
                  <a href="fax:+1-434-982-3084">(434) 982-3084</a><br>
                  <span class="fa-solid fa-envelope" aria-hidden="true"></span>
                  <a href="mailto:math-help@virginia.edu">math-help@virginia.edu</a>
                </div>
                <div class="col-md-4 d-md-none">
                  <hr />
                  <span class="fa-solid fa-phone" aria-hidden="true"></span>
                  <a href="tel:+1-434-924-4919">(434) 924-4919</a><br>
                  <span class="fa-solid fa-fax" aria-hidden="true"></span>
                  <a href="fax:+1-434-982-3084">(434) 982-3084</a><br>
                  <span class="fa-solid fa-envelope" aria-hidden="true"></span>
                  <a href="mailto:math-help@virginia.edu">math-help@virginia.edu</a>
                  <hr />
                </div>
                <div class="col-md-4">
                  141 Cabell Drive, Kerchof Hall<br>
                  P.O. Box 400137<br>
                  Charlottesville, VA 22904<br>
                  <span class="fa-regular fa-map" aria-hidden="true"></span>
                  <a href="https://www.google.com/maps/place/Kerchof+Hall,+Charlottesville,+VA+22903/@38.0321891,-78.5088882,18z" target="_blank">Directions</a>
                </div>
                <div class="col-md-1 d-md-none">
                  <hr>
                  <a href="http://www.twitter.com/@math_uva"  target="_blank">
                    <span class="fa-brands fa-square-twitter fa-2x"></span></a>
                    <a href="https://www.facebook.com/UVAMath" title="Department of Mathematics Facebook page" target="_blank">
                      <span class="fa-brands fa-facebook-square fa-2x mt-1"></span></a>
                    <a href="https://www.instagram.com/uva_math/" title="Department of Mathematics Instagram" target="_blank">
                      <span class="fa-brands fa-instagram fa-2x mt-1"></span></a>
                    <a {% if paginator.page %}href="https://github.com/uva-math/uva-math-code/blob/master/allnews/index.html"
                  {% else %}href="https://github.com/uva-math/uva-math-code/blob/master/{{page.path}}"{% endif %} title="Contribute to the website's content on GitHub" target="_blank">
                    <span class="fa-brands fa-square-github fa-2x mt-1"></span></a>
                </div>
                <div class="col-md-1 d-none d-md-block">
                  <a href="https://www.facebook.com/UVAMath" title="Department of Mathematics Facebook page" target="_blank">
                    <span class="fa-brands fa-facebook-square fa-2x mt-1 me-2"></span></a>
                  <a href="https://www.instagram.com/uva_math/" title="Department of Mathematics Instagram" target="_blank">
                    <span class="fa-brands fa-instagram fa-2x mt-1"></span></a>
                  <a {% if paginator.page %}href="https://github.com/uva-math/uva-math-code/blob/master/allnews/index.html"
                  {% else %}href="https://github.com/uva-math/uva-math-code/blob/master/{{page.path}}"{% endif %} title="Contribute to the website's content on GitHub" target="_blank">
                    <span class="fa-brands fa-square-github fa-2x me-2 mt-1"></span></a>
                  <a href="http://www.twitter.com/@math_uva"  target="_blank">
                    <span class="fa-brands fa-square-twitter fa-2x mt-1"></span></a>
                </div>
              </div>
            </div>
</div>
</footer>

<!-- Dark mode functionality -->
<script>
(function() {
  // Get the current theme from localStorage or OS preference
  function getThemePreference() {
    const savedTheme = localStorage.getItem('theme');
    if (savedTheme) {
      return savedTheme;
    }
    // Check OS preference
    return window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light';
  }

  // Apply theme to document
  function applyTheme(theme) {
    document.documentElement.setAttribute('data-theme', theme);
    updateThemeIcon(theme);
  }

  // Update the theme toggle icon
  function updateThemeIcon(theme) {
    const icons = document.querySelectorAll('#theme-icon, #theme-icon-mobile');
    
    icons.forEach(icon => {
      if (icon) {
        if (theme === 'dark') {
          icon.classList.remove('fa-sun');
          icon.classList.add('fa-moon');
        } else {
          icon.classList.remove('fa-moon');
          icon.classList.add('fa-sun');
        }
      }
    });
  }

  // Toggle theme
  function toggleTheme() {
    const currentTheme = document.documentElement.getAttribute('data-theme') || 'light';
    const newTheme = currentTheme === 'dark' ? 'light' : 'dark';
    applyTheme(newTheme);
    localStorage.setItem('theme', newTheme);
  }

  // Initialize theme on page load (immediately)
  const currentTheme = getThemePreference();
  applyTheme(currentTheme);

  // Also initialize when DOM is ready (for safety)
  if (document.readyState === 'loading') {
    document.addEventListener('DOMContentLoaded', function() {
      applyTheme(currentTheme);
    });
  }

  // Theme toggle button handlers
  document.addEventListener('DOMContentLoaded', function() {
    const toggleBtns = document.querySelectorAll('#theme-toggle, #theme-toggle-mobile');
    
    toggleBtns.forEach(btn => {
      if (btn) {
        btn.addEventListener('click', function(e) {
          e.preventDefault();
          toggleTheme();
        });
        
        // Add touch event for mobile
        btn.addEventListener('touchstart', function(e) {
          e.preventDefault();
          toggleTheme();
        });
      }
    });
  });

  // Listen for OS theme changes
  window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', function(e) {
    // Only apply OS preference if user hasn't manually set a preference
    if (!localStorage.getItem('theme')) {
      applyTheme(e.matches ? 'dark' : 'light');
    }
  });
})();
</script>
