<footer>

  <div class="container">
              <hr>
              <div class="row" style="font-size:14px">
                <div class="col-md-6">
                  Maintained by: <a href='mailto:math-help@virginia.edu'>Department of Mathematics</a>
                  <br>
                   <a href="http://www.virginia.edu/copyright.html" class="link">&copy;</a> Copyright
                    by the Rector and Visitors of the University of Virginia</p>
                </div>
                <div class="col-md-3">

                  (434) 924-4919
                  <br>
                  (434) 982-3084
                  <br>
                  math-help@virginia.edu
                </div>
                <div class="col-md-3"  align="right">
                  141 Cabell Drive, Kerchof Hall<br>
                  P.O. Box 400137<br>
                  Charlottesville, VA 22904-4137
                </div>
              </div>


</footer>
