<a href="{{site.url}}/facultyresearch/" class="list-group-item list-group-item-action {{ include.classes }}" >Faculty Research</a>
<a href="{{site.url}}/graduate/bridge/" class="list-group-item list-group-item-action {{ include.classes }}">Bridge to the Doctorate</a>
<!-- <a href="https://uva.theopenscholar.com/reu/program" class="list-group-item list-group-item-action {{ include.classes }}">Summer Research Experiences for Undergraduates</a> -->
<a href="{{site.url}}/newsletter/" class="list-group-item list-group-item-action {{ include.classes }}" >Virginia Math Bulletin</a>
<!-- <a href="{{site.url}}/2018/09/jobs-2018/" class="list-group-item list-group-item-action {{ include.classes }}" >Jobs</a> -->
<!-- <a href="{{site.url}}/undergraduate/requirements/" class="list-group-item list-group-item-action {{ include.classes }}" >UG Degree requirements</a> -->