<a href="{{site.url}}/facultyresearch/" class="list-group-item list-group-item-action {{ include.classes }}" >Faculty Research</a>
<!-- <a href="{{site.url}}/newsletter/" class="list-group-item list-group-item-action {{ include.classes }}" >Virginia Math Bulletin</a> -->
<a href="{{site.url}}/job-opportunities/" class="list-group-item list-group-item-action {{ include.classes }}" >Jobs</a>
<!-- <a href="{{site.url}}/undergraduate/requirements/" class="list-group-item list-group-item-action {{ include.classes }}" >UG Degree requirements</a> -->