<nav class="navbar navbar-toggleable-sm mb-4 navbar-light" style="background-color:rgba(0, 0, 0, 0.15);">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="container">

  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <ul class="navbar-nav mr-auto">
    {% assign sorted_pages = site.pages | sort: "nav_weight" %}
    {% for p in sorted_pages%}
    {% if p.nav_id != null and p.nav_nesting != true and p.nav_parent == null %}
      <li class="nav-item {%if p.url == page.url %}active bg-inverse{% endif %}">
        <a class="nav-link" href="{{site.url}}{{p.url}}">{{ p.nav_id }}{%if p.url == page.url %}<span class="sr-only">(current)</span>{% endif %}</a>
      </li>
    {% endif %}
    {% if p.nav_id != null and p.nav_nesting == true and p.nav_parent == null %}
      <li class="nav-item">
        <a class="nav-link" href="{{site.url}}{{p.url}}">
          {{p.nav_id}}
        </a><ul class="list-group">
          {% for pp in sorted_pages%}
          {% if pp.nav_id != null and pp.nav_parent == p.nav_id %}
          <li class="list-group-item" style="padding: 1px; background-color:#F1F1EF;"><a class="h5" href="{{site.url}}{{pp.url}}">{{pp.nav_id}}{%if pp.url == page.url %}<span class="sr-only">(current)</span>{% endif %}</a></li>
          {% endif %}
          {% endfor %}
          {% if p.nav_id == "Seminars" %}
            {% assign sorted_sem = site.data.seminars | sort: "seminar_weight" %}
            {% for sem in sorted_sem %}
            <li class="list-group-item" style="padding: 1px; background-color:#F1F1EF;"><a class="h5 {%if page.url contains sem.shortname %}active bg-inverse{% endif %}" href="{{site.url}}/seminars/{{sem.shortname}}">{{sem.name}}{%if page.url contains sem.shortname %}<span class="sr-only">(current)</span>{% endif %}</a></li>
            {% endfor %}
          {% endif %}
          </ul>
      </li>
    {% endif %}
    {% endfor %}
    </ul>
  </div>
  </div>
</nav>
