<nav class="navbar navbar-toggleable-sm mb-4 navbar-light" style="background-color:rgba(0, 0, 0, 0.15);">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="container">

  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <ul class="navbar-nav mr-auto">
    {% assign sorted_pages = site.pages | sort: "nav_weight" %}
    {% for p in sorted_pages%}
    {% if p.nav_id != null and p.nav_nesting != true and p.nav_parent == null %}
      <li class="nav-item {%if p.url == page.url %}active bg-inverse{% endif %}">
        <a class="nav-link" href="{{site.url}}{{p.url}}">{{ p.nav_id }}{%if p.url == page.url %}<span class="sr-only">(current)</span>{% endif %}</a>
      </li>
    {% endif %}
    {% if p.nav_id != null and p.nav_nesting == true and p.nav_parent == null %}
      <li class="nav-item dropdown {% if {{page.nav_parent}} == p.nav_id or p.url == page.url %}active{% endif %}">
        <a class="nav-link dropdown-toggle" href="{{site.url}}{{p.url}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{p.nav_id}}
        </a>
        <div class="dropdown-menu h5">
          {% for pp in sorted_pages%}
          {% if pp.nav_id != null and pp.nav_parent == p.nav_id %}
          <a class="dropdown-item {%if pp.url == page.url %}active bg-inverse{% endif %}" href="{{site.url}}{{pp.url}}">{{pp.nav_id}}{%if pp.url == page.url %}<span class="sr-only">(current)</span>{% endif %}</a>
          {% endif %}
          {% endfor %}
        </div>
      </li>


    {% endif %}
    {% endfor %}
    </ul>
  </div>
  </div>
</nav>
