<nav class="navbar navbar-toggleable-sm mb-4 navbar-light" style="background-color:rgba(0, 0, 0, 0.15);">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="container">

  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <ul class="navbar-nav mr-auto">
    {% assign sorted_pages = (site.pages | sort: 'navbar_weight') %}
    {% for p in sorted_pages%}
    {% if p.url == page.url and p.navbar_id != null %}
    <li class="nav-item active">
      <a class="nav-link" href="{{site.url}}{{p.url}}">{{ p.navbar_id }}<span class="sr-only">(current)</span></a>
    </li>
    {% elsif p.navbar_id != null %}
    <li class="nav-item">
      <a class="nav-link" href="{{site.url}}{{p.url}}">{{ p.navbar_id }}</a>
    </li>
    {% endif %}
    {% endfor %}
    </ul>
  </div>
  </div>
</nav>
