<!-- Template for a Research Area Page -->

{% comment %}
  Extract the last non-empty part of the permalink to get the current tag shortname.
{% endcomment %}
{% assign permalink_parts = page.permalink | split: '/' %}
{% assign cur_shortname = "" %}
{% for part in permalink_parts %}
  {% if part != "" %}
    {% assign cur_shortname = part %}
  {% endif %}
{% endfor %}

{% comment %}
  Find the current tag from site.data.research_tags based on cur_shortname.
{% endcomment %}
{% assign current_tag = site.data.research_tags | where: "tag", cur_shortname | first %}

{% if current_tag %}
  <div class="row">
    <div class="col-md-7">
      <h2 class="mb-4" style="font-style:italic">{{ current_tag.name }} Research</h2>

      {% comment %}
        Sort department people by last name.
      {% endcomment %}
      {% assign sorted_people = site.departmentpeople | sort: 'lastname' %}

      <div class="my-row-zebra mr-3">
        {% for person in sorted_people %}
          {% comment %}
            Determine if the person should be included based on the current tag.
            - If the current tag has 'includes', check if the person has any of the included tags.
            - Otherwise, check if the person has the current tag.
          {% endcomment %}
          {% if current_tag.includes %}
            {% assign matches = false %}
            {% for included_tag in current_tag.includes %}
              {% if person.research_tags contains included_tag %}
                {% assign matches = true %}
                {% break %}
              {% endif %}
            {% endfor %}
            {% if matches %}
              <!-- Display person details -->
              <div class="row" style="padding:10px 0px">
                <div class="col-md-4">
                  <a href="{{ site.url }}/people/{{ person.UVA_id }}/" class="nonupper-h5">
                    {{ person.name }} {{ person.lastname }}
                  </a>
                  <div class="mb-1"><i>{{ person.position }}</i></div>
                </div>
                <div class="col-md-6">
                  {% if person.office %}
                    <span class="fa fa-building" aria-hidden="true" style="font-size:0.8em"></span>
                    {{ person.office }}<br>
                  {% endif %}

                  {% if person.phone %}
                    <span class="fa fa-phone" aria-hidden="true" style="font-size:0.8em"></span>
                    <a href="tel:{{ person.phone }}">{{ person.phone }}</a><br>
                  {% endif %}

                  {% if person.email %}
                    <span class="fa fa-envelope" aria-hidden="true" style="font-size:0.8em"></span>
                    <a href="mailto:{{ person.email }}">{{ person.email }}</a><br>
                  {% endif %}

                  {% if person.personal_page %}
                    <span class="fa fa-external-link" aria-hidden="true" style="font-size:0.8em"></span>
                    <a href="{{ person.personal_page }}">Personal page</a>
                  {% endif %}
                </div>
                <div class="col-md-2">
                  {% if person.image %}
                    <a href="{{ site.url }}/people/{{ person.UVA_id }}/">
                      <img src="{{ person.image | replace: '__SITE_URL__', site.url }}" 
                           alt="{{ person.name }} {{ person.lastname }}" 
                           title="{{ person.name }} {{ person.lastname }}" 
                           style="width:100%;max-width:70px" 
                           class="hidden-sm-down float-right">
                    </a>
                    <a href="{{ site.url }}/people/{{ person.UVA_id }}/">
                      <img src="{{ person.image | replace: '__SITE_URL__', site.url }}" 
                           alt="{{ person.name }} {{ person.lastname }}" 
                           title="{{ person.name }} {{ person.lastname }}" 
                           style="width:100%;max-width:100px" 
                           class="hidden-md-up mt-3">
                    </a>
                  {% else %}
                    <a href="{{ site.url }}/people/{{ person.UVA_id }}/">
                      <img src="{{ site.url }}/img/people/Avatar_image.png" 
                           alt="{{ person.name }} {{ person.lastname }}" 
                           title="{{ person.name }} {{ person.lastname }}" 
                           style="width:100%;max-width:70px" 
                           class="hidden-sm-down float-right">
                    </a>
                  {% endif %}
                </div>
              </div>
            {% endif %}
          {% else %}
            {% if person.research_tags contains current_tag.tag %}
              <!-- Display person details -->
              <div class="row" style="padding:10px 0px">
                <div class="col-md-4">
                  <a href="{{ site.url }}/people/{{ person.UVA_id }}/" class="nonupper-h5">
                    {{ person.name }} {{ person.lastname }}
                  </a>
                  <div class="mb-1"><i>{{ person.position }}</i></div>
                </div>
                <div class="col-md-6">
                  {% if person.office %}
                    <span class="fa fa-building" aria-hidden="true" style="font-size:0.8em"></span>
                    {{ person.office }}<br>
                  {% endif %}

                  {% if person.phone %}
                    <span class="fa fa-phone" aria-hidden="true" style="font-size:0.8em"></span>
                    <a href="tel:{{ person.phone }}">{{ person.phone }}</a><br>
                  {% endif %}

                  {% if person.email %}
                    <span class="fa fa-envelope" aria-hidden="true" style="font-size:0.8em"></span>
                    <a href="mailto:{{ person.email }}">{{ person.email }}</a><br>
                  {% endif %}

                  {% if person.personal_page %}
                    <span class="fa fa-external-link" aria-hidden="true" style="font-size:0.8em"></span>
                    <a href="{{ person.personal_page }}">Personal page</a>
                  {% endif %}
                </div>
                <div class="col-md-2">
                  {% if person.image %}
                    <a href="{{ site.url }}/people/{{ person.UVA_id }}/">
                      <img src="{{ person.image | replace: '__SITE_URL__', site.url }}" 
                           alt="{{ person.name }} {{ person.lastname }}" 
                           title="{{ person.name }} {{ person.lastname }}" 
                           style="width:100%;max-width:70px" 
                           class="hidden-sm-down float-right">
                    </a>
                    <a href="{{ site.url }}/people/{{ person.UVA_id }}/">
                      <img src="{{ person.image | replace: '__SITE_URL__', site.url }}" 
                           alt="{{ person.name }} {{ person.lastname }}" 
                           title="{{ person.name }} {{ person.lastname }}" 
                           style="width:100%;max-width:100px" 
                           class="hidden-md-up mt-3">
                    </a>
                  {% else %}
                    <a href="{{ site.url }}/people/{{ person.UVA_id }}/">
                      <img src="{{ site.url }}/img/people/Avatar_image.png" 
                           alt="{{ person.name }} {{ person.lastname }}" 
                           title="{{ person.name }} {{ person.lastname }}" 
                           style="width:100%;max-width:70px" 
                           class="hidden-sm-down float-right">
                    </a>
                  {% endif %}
                </div>
              </div>
            {% endif %}
          {% endif %}
        {% endfor %}
      </div>
    </div>
    <div class="col-md-5">
      <hr class="hidden-md-up">
      {% include research_areas_sidebar.html %}
    </div>
  </div>
{% else %}
  <p>No research tag found for the current page.</p>
{% endif %}
