<!-- template which is included as a page of individual seminar -->

{% assign xx = page.permalink | split: '/' %}
{% for word in xx %}{% if forloop.last %}{% assign cur_shortname = word %}{%endif%}{% endfor %}
{% for sem in site.data.seminars %}
{%if sem.shortname == cur_shortname %}

{% if page.title == null %}
  <h1 class="mt-2 mb-4">University of Virginia {{sem.name}}</h1>
{% else %}
  <h1 class="mt-2 mb-4">{{page.title}}</h1>
{% endif %}

{% if sem.image != null %}
  <div class="row">
    <div class="col-md-3">
      <img src="{{ sem.image | replace: '__SITE_URL__', site.url }}" style="max-width:100%;max-height:400px;height:auto;width:auto;padding:10px" />
    </div>
    <div class="col-md-9">
      <b>Regular time and location: {{sem.regular_times}}</b>
      {% if sem.information != null %}<details class="mb-3"><summary>Description</summary>
        {{ sem.information }}
      </details>
      {% endif %}
    </div>
  </div>
{% else %}
  <b>Regular time and location: {{sem.regular_times}}</b>
  {% if sem.information != null %}<details class="mb-3"><summary>Description</summary>
    {{ sem.information }}
  </details>
  {% endif %}
{% endif %}

{{ include.content }}

<h2 class="mt-4 mb-3">Upcoming talks</h2>

{% include cal_single.js google_cal_id = sem.google_cal_id current="true" max_sem=8 %}

---

{{ include.contacts }}

**Contact:** {% for cnt in sem.contact %}{{cnt.name}} ([*{{cnt.email}}*](mailto:{{cnt.email}})){% if forloop.last == false %},{% endif %} {% endfor %}

**[Old webpage link]({{sem.webpage}})**

{%endif%}
{% endfor %}
