<!-- main page with list of all seminars; it is a template since we want to put it into 3 addresses for consistency with the old webpage -->

<h1 class="mt-2 mb-3">University of Virginia Math Seminars</h1>

<!-- <div class="list-group-item h5 orange-item">In-person seminars are suspended until further notice due to COVID-19</div> -->

<h2 class="mt-2 mb-4">Google calendar</h2>

<iframe frameborder="0" height="600" scrolling="no" src="https://calendar.google.com/calendar/embed?title=Seminars%20at%20Department%20of%20Mathematics%2C%20University%20of%20Virginia&amp;mode=WEEK&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF{% for sem in site.data.seminars %}{% if sem.google_cal_id != null %}&amp;src={{ sem.google_cal_id | replace: '@', '%40'}}{% endif %}{% endfor %}&amp;ctz=America%2FNew_York" width="100%"></iframe>

<hr />

<h2 class="mt-4 mb-3">Upcoming talks</h2>

{% include cal_main.js current="true" max_sem=15 max_from_cal=7 %}

<hr>

<h2 class="mt-2 mb-3">List of seminars</h2>

<div class="my-div-odd-zebra">
{% assign sorted_sem = site.data.seminars | sort: "seminar_weight" %}
{% for sem in sorted_sem %}
{% unless sem.shortname=="awm" or sem.shortname=="ams" or sem.shortname = "drp" or sem.shortname = "research_story" %}
<div class="mb-3"> <h3><a href="{{site.url}}/seminars/{{ sem.shortname }}/">{{sem.name}}</a></h3>
	<p class="mb-1"><b>{{ sem.regular_times }}</b></p>

			{% for cnt in sem.contact %}{% include person_info_email_only.html UVA_id = cnt.UVA_id %}&nbsp;&nbsp;&nbsp;{% endfor %}
  {% if sem.information != null %}<details class="mt-1"><summary>Description</summary>
    {{ sem.information }}
  </details>
  {% endif %}
</div>
{% endunless %}
{% endfor %}
</div>
