<h1 class="mt-2 mb-3">University of Virginia Math Seminars</h1>

{% assign sorted_sem = site.data.seminars | sort: "seminar_weight" %}
{% for sem in sorted_sem %}
### [{{sem.name}}]({{sem.webpage}})
  **{{ sem.regular_times }}**

  {% for cnt in sem.contact %}{{cnt.name}} ([*{{cnt.email}}*](mailto:{{cnt.email}})){% if forloop.last == false %},{% endif %} {% endfor %}
  {% if sem.information != null %}<details class="mb-3"><summary>Description</summary>
    {{ sem.information }}
  </details>
  {% endif %}
{% endfor %}

<hr>

<h1 class="mt-2 mb-4">Google calendar</h1>

<iframe frameborder="0" height="600" scrolling="no" src="https://calendar.google.com/calendar/embed?title=Seminars%20at%20Department%20of%20Mathematics%2C%20University%20of%20Virginia&amp;mode=WEEK&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF{% for sem in site.data.seminars %}{% if sem.google_cal_id != null %}&amp;src={{ sem.google_cal_id | replace: '@', '%40'}}{% endif %}{% endfor %}&amp;ctz=America%2FNew_York" width="100%"></iframe>
