<!-- main page with list of all seminars; it is a template since we want to put it into 3 addresses for consistency with the old webpage -->

<h1 class="mt-2 mb-3">University of Virginia Math Seminars</h1>

<!-- <div class="list-group-item h5 orange-item">In-person seminars are suspended until further notice due to COVID-19</div> -->

<p>Browse upcoming talks below, including dates, locations, and abstracts.
<a href="https://calendar.google.com/calendar/embed?mode=AGENDA&amp;ctz=America%2FNew_York{% for sem in site.data.seminars %}{% if sem.google_cal_id and sem.defunct != true %}&amp;src={{ sem.google_cal_id | url_encode }}{% endif %}{% endfor %}">Open the seminar calendars in Google Calendar</a>.</p>

<h2 class="mt-4 mb-3">Upcoming talks</h2>

{% include cal_main.js current="true" max_sem=100 max_from_cal=30 %}

<hr>

<h2 class="mt-2 mb-3">List of seminars</h2>

<div class="my-div-odd-zebra">
{% assign sorted_sem = site.data.seminars | sort: "seminar_weight" %}
{% for sem in sorted_sem %}
{% unless sem.shortname=="awm" or sem.shortname=="ams" or sem.shortname=="drp" or sem.shortname=="one_off" or sem.shortname=="separator" or sem.defunct==true %}
<div class="mb-3"> <h3><a href="{{site.url}}/seminars/{{ sem.shortname }}/">{{sem.name}}</a></h3>
	<p class="mb-1"><b>{{ sem.regular_times }}</b></p>

			{% for cnt in sem.contact %}{% include person_info_email_only.html UVA_id = cnt.UVA_id %}&nbsp;&nbsp;&nbsp;{% endfor %}
  {% if sem.information != null %}<details class="mt-1"><summary>Description</summary>
    {{ sem.information }}
  </details>
  {% endif %}
</div>
{% endunless %}
{% endfor %}
</div>
