<header class="site-brand bg-dark">
  <div class="container site-brand-inner">
    <a href="{{ site.url }}/" class="dept-logo-large">Mathematics</a>
    <a href="https://www.virginia.edu/" class="university-brand">
      <img src="{{ site.url }}/img/brand/uva-horiz.png" width="324" height="35" alt="University of Virginia">
    </a>
    <form class="site-search" action="{{ site.url }}/search/" method="get" role="search" aria-label="Mathematics website">
      <label for="site-search-query">Search UVA Mathematics</label>
      <div class="input-group">
        <input class="form-control" type="search" id="site-search-query" name="q" required>
        <button class="btn btn-secondary" type="submit">Search</button>
      </div>
    </form>
  </div>
</header>
