<nav class="navbar navbar-toggleable-sm navbar-inverse bg-inverse">
     <!-- <button class="navbar-toggler navbar-toggler-right" style="padding:8px" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
     </button> -->
     <div class="container">
     <div class="navbar-brand" style="padding-top: 0 ;padding-bottom: 0;">
       <a href="{{site.url}}" class="dept-logo-large mr-1 hidden-md-down" style="vertical-align: middle;">Mathematics</a>
       <a href="{{site.url}}" class="dept-logo-large hidden-lg-up hidden-sm-down" style="vertical-align: middle;">Math</a>
       <a href="{{site.url}}" class="dept-logo-large hidden-md-up" style="vertical-align: middle; font-size:30px">Math</a>
      <a href="http://www.virginia.edu" class="hidden-sm-down" style="vertical-align: baseline;">
        <img src="{{site.url}}/img/brand/uva-horiz.png" style="margin-top:20px; margin-bottom:23px;width:324px" alt="UVA Logo"></a>
      <a href="http://www.virginia.edu" class="hidden-md-up"  style="vertical-align: baseline;">
        <img src="{{site.url}}/img/brand/uva-horiz.png" style="margin-top:12px; margin-bottom:15px;width:200px" alt="UVA Logo"></a>
      <a href="http://www.virginia.edu/search/site/" class="hidden-md-up hidden-xs-down navbar-toggler-right">
        <img src="{{site.url}}/img/brand/search.png" style="width:20px;margin: 14px 0px 12px 0px" alt="Search">
      </a>

      <!-- <div style="margin-bottom:10px;"  class="hidden-sm-down">
        <a href="{{site.url}}" class="bg-inverse" style="font-family: 'franklingothic-demi', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size:24px; text-transform: uppercase;">Department of Mathematics</a>
      </div>
      <div class="hidden-md-up">
        <a href="{{site.url}}" class="bg-inverse" style="font-family: 'franklingothic-demi', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size:20px; text-transform: uppercase;">Department of Mathematics</a>
      </div> -->
     </div>
     <div class="collapse navbar-collapse" id="navbarCollapse">
       <div class="navbar-nav mr-auto">
       </div>
       <form class="form-inline mt-2 mt-md-0 hidden-sm-down" id="search_form" name="q">
         <input class="form-control input-lg mr-sm-2" type="text" id="q" placeholder="UVA Search">
         <button class="bg-inverse my-2 my-sm-0" style="border:none;" type="submit" value=""><img src="{{site.url}}/img/brand/search.png" style="width:30px" alt="UVA Search" title="UVA Search"></button>
       </form>
     </div>
     </div>
   </nav>

<!-- simple search script calling the UVA search -->
   <script>
     document.getElementById("search_form").onsubmit = searchFunction;
     function searchFunction() {
        var link_s = document.getElementById('q').value;
        window.open("http://www.virginia.edu/search/site/" + link_s);
     }
   </script>
