{% assign sorted_pages = site.pages | sort: "nav_weight" %}

<div class="list-group-sm">
  <a class="list-group-item list-group-item-action h5 orange-item  {% if page.permalink == "/undergraduate/" %}active{% endif %}" href="{{site.url}}/undergraduate/">Information</a>
    {% for pg in sorted_pages %}
    {% if pg.layout == "ug_page" and pg.ug_info %}
        <a class="list-group-item list-group-item-action h5 {% if page.permalink ==  pg.permalink %}active{% endif %}" href="{{pg.url}}">{{pg.title}}</a>
    {% endif %}
    {% endfor %}
  <a class="list-group-item list-group-item-action h5" href="{{site.url}}/seminars/mathclub/">Undergraduate Math Club&nbsp;<span class="fa fa-external-link" aria-hidden="true"></span></a>
</div>

<br />

<div class="list-group-sm">
  <a class="list-group-item list-group-item-action h5 orange-item  {% if page.permalink == "/undergraduate/policies/" %}active{% endif %}" href="{{site.url}}/undergraduate/policies/">Policies (FAQ)</a>
    {% for pg in sorted_pages %}
    {% if pg.layout == "ug_page" and pg.ug_policy %}
        <a class="list-group-item list-group-item-action h5 {% if page.permalink ==  pg.permalink %}active{% endif %}" href="{{pg.url}}">{{pg.title}}</a>
    {% endif %}
    {% endfor %}
</div>

<br />

<div class="list-group-sm">
  <a class="list-group-item list-group-item-action h5 orange-item {% if page.permalink == "/courses/undergrad/" %}active{% endif %}" href="{{site.url}}/courses/undergrad/">Course descriptions</a>
</div>
