---
title: University of Virginia Mathematical Physics Seminar 2011-12
layout: static_page_no_right_menu
permalink: /seminars/mathphys/2011-12/
events: false
sem_page: true
sem_archive: true
nav_parent: Seminars
---

{% assign xx = page.permalink | split: '/' %}
{% assign cur_shortname = xx[2] %}

{% for sem in site.data.seminars %}
{%if sem.shortname == cur_shortname %}

{% if page.title == null %}
  <h1 class="mt-2 mb-4">University of Virginia {{sem.name}}</h1>
{% else %}
  <h1 class="mt-2 mb-4">{{page.title}}</h1>
{% endif %}

{% if sem.image != null %}
  <div class="row">
    <div class="col-md-3">
      <img src="{{ sem.image | replace: '__SITE_URL__', site.url }}" style="max-width:100%;max-height:400px;height:auto;width:auto;padding:10px" alt="{{sem.name}} image" title="{{sem.name}} image"/>
    </div>
  </div>
{% endif %}



<TABLE BORDER="yes" WIDTH="720" CELLPADDING="3">
<TR><TD VALIGN="top" WIDTH="100">












<!-- TALKS START HERE!!!-->






<B>September 7</B>
<TD VALIGN="top">
Speaker:
Israel Klich
<BR>
<I>Title:
Quantum Noise and the Entanglement Entropy
</I>
<BR>
Abstract:
Entanglement entropy is a measure of quantum many body correlations between the parts of a many body system. It has emerged as a useful quantity in broad areas of theoretical physics, from cosmology to condensed matter and quantum information. In this talk I will discuss the problem of entanglement entropy of fermions and it's relation to Widom's conjecture. I will also describe a universal relation between entanglement entropy and statistics of current flowing through a quantum point contact.  This relation provides a way to experimentally measure entanglement entropy, and test seminal results of conformal field theory such as the prediction of Holzhey, Larsen and Wilczek for entanglement entropy of fermions.

<!--insert abstract (if there is one) above this comment-->
</TD></TR><TR><TD VALIGN="top">




<B>September 14</B>
<TD VALIGN="top">
Speaker:
John Imbrie
<BR>
<I>Title:
Diagonalizing a Matrix a la Newton
</I>
<BR>
Abstract:
Newton showed how to solve an equation f(x)=0 by constructing a sequence of approximate solutions that converge rapidly to the answer. A similar idea can be used to solve nonlinear functional equations, as in Nash-Moser and KAM theorems. I will use Newton's method to diagonalize a symmetric NxN matrix with small off-diagonal entries. This will be an elementary talk which will lay the foundation for subsequent lectures applying the idea to Anderson localization.
<!--insert abstract (if there is one) above this comment-->
</TD></TR><TR><TD VALIGN="top">



<B>September 21</B>
<TD VALIGN="top">
Speaker:
John Imbrie
<BR>
<I>Title:
Newton's Method for Anderson Localization
</I>
<BR>
Abstract:
I will present an eigenfunction-based scheme for proving Anderson localization.
<!--insert abstract (if there is one) above this comment-->
</TD></TR><TR><TD VALIGN="top">



<B>September 28</B>
<TD VALIGN="top">
Speaker:
John Imbrie
<BR>
<I>Title:
Newton's Method for Anderson Localization
</I>
<BR>
Abstract:
I continue with a discussion of how to control both resonant and non-resonant regions.
<!--insert abstract (if there is one) above this comment-->
</TD></TR><TR><TD VALIGN="top">



<B>October 7 NOTE CHANGE IN DAY--FRIDAY AND ROOM--KER 317</B>
<TD VALIGN="top">
Speaker:
David Hasler, College of William and Mary
<BR>
<I>Title:
Anderson localization for Schroedinger operators with a random magnetic field
</I>
<BR>
Abstract:
We consider a two dimensional Schroedinger operator with a spatially stationary random magnetic field in the plane and on the lattice. We prove a Wegner estimate, which can be used to establish
localization at the band edges of the spectrum.
<!--insert abstract (if there is one) above this comment-->
</TD></TR><TR><TD VALIGN="top">





<B>October 12</B>
<TD VALIGN="top">
Speaker:
John Imbrie
<BR>
<I>Title:
Newton's Method for Anderson Localization
</I>
<BR>
Abstract:
I conclude the series with a discussion of key issues for controlling long-range resonances.
<!--insert abstract (if there is one) above this comment-->
</TD></TR><TR><TD VALIGN="top">



<B>October 19</B>
<TD VALIGN="top">
Speaker:
Julianne Rama
<BR>
<I>Title:
Time asymptotics of exp(ith(\kappa))
for analytic matrices
</I>
<BR>
Abstract:
The results I will present are a joint work with Markus Klein. Our
interest in this problem has its origin in quantum resonance theory.
I will analyze the time evolution of exp(ith(\kappa)), where h(\kappa) is an analytic matrix
family. I shall derive asymptotic expansions with error bounds which are uniform in t and \kappa. In particular, these error bounds apply to the simultaneous
limit t -> \infty, \kappa -> 0.

<!--insert abstract (if there is one) above this comment-->
</TD></TR><TR><TD VALIGN="top">




<B>October 26</B>
<TD VALIGN="top">
Speaker:
Larry Thomas
<BR>
<I>Title:
 Stochastic wave equation model for heat-flow in non-equilibrium
statistical mechanics


    </I>
<BR>
Abstract:
We consider the problem of constructing an invariant measure for
a one-dimensional non-linear stochastic wave equation.  The invariant
measure serves to describe steady state heat flow in a simple model in
non-equilibrium statistical mechanics.

<!--insert abstract (if there is one) above this comment-->
</TD></TR><TR><TD VALIGN="top">






<B>November 2</B>
<TD VALIGN="top">
Speaker:
Larry Thomas
<BR>
<I>Title:
Stochastic wave equation model for heat-flow in non-equilibrium
statistical mechanics, cont.

</I>
<BR>
Abstract:
We consider the problem of constructing an invariant measure for
a one-dimensional non-linear stochastic wave equation.  The invariant
measure serves to describe steady state heat flow in a simple model in
non-equilibrium statistical mechanics.

<!--insert abstract (if there is one) above this comment-->
</TD></TR><TR><TD VALIGN="top">




<B>November 9</B>
<TD VALIGN="top">
Speaker:
Abdelmalek Abdesselam
<BR>
<I>Title:
Rigorous quantum field theory functional integrals over the p-adics
</I>
<BR>
Abstract:
I will present the results of joint work with Ajay Chandra and Gianluca Guadagni
regarding the construction of probability measures on the space of distributions
over a three-dimensional p-adic space-time. The main ingredient is an extension of the renormalization
group methods by Brydges and collaborators to the case of nonuniform potentials.

<!--insert abstract (if there is one) above this comment-->
</TD></TR><TR><TD VALIGN="top">





<B>November 16</B>
<TD VALIGN="top">
Speaker:
Abdelmalek Abdesselam
<BR>
<I>Title:
Rigorous quantum field theory functional integrals over the p-adics, cont.
</I>
<BR>
Abstract:
I will present the results of joint work with Ajay Chandra and Gianluca Guadagni
regarding the construction of probability measures on the space of distributions
over a three-dimensional p-adic space-time. The main ingredient is an extension of the renormalization
group methods by Brydges and collaborators to the case of nonuniform potentials.

<!--insert abstract (if there is one) above this comment-->
</TD></TR><TR><TD VALIGN="top">





<B>November 23</B>
<TD VALIGN="top">
THANKSGIVING RECESS

<!--insert abstract (if there is one) above this comment-->
</TD></TR><TR><TD VALIGN="top">





<B>November 30</B>
<TD VALIGN="top">
Speaker:
Abdelmalek Abdesselam
<BR>
<I>Title:
Rigorous quantum field theory functional integrals over the p-adics, cont.
</I>
<BR>
Abstract:
I will present the results of joint work with Ajay Chandra and Gianluca Guadagni
regarding the construction of probability measures on the space of distributions
over a three-dimensional p-adic space-time. The main ingredient is an extension of the renormalization
group methods by Brydges and collaborators to the case of nonuniform potentials.

<!--insert abstract (if there is one) above this comment-->
</TD></TR><TR><TD VALIGN="top">




<B>February 8</B>
<TD VALIGN="top">
Speaker:

Abdelmalek Abdesselam
<BR>
<I>Title:
Rigorous quantum field theory functional integrals over the p-adics, cont.
</I>
<BR>
Abstract:
I will present the results of joint work with Ajay Chandra and Gianluca Guadagni
regarding the construction of probability measures on the space of distributions
over a three-dimensional p-adic space-time. The main ingredient is an extension of the renormalization
group methods by Brydges and collaborators to the case of nonuniform potentials.
<!--insert abstract (if there is one) above this comment-->
</TD></TR><TR><TD VALIGN="top">





<B>February 15</B>
<TD VALIGN="top">
Speaker:
Ajay Chandra
<BR>
<I>Title:
Rigorous quantum field theory
functional integrals over the p-adics, cont.

</I>
<BR>
Abstract:
I will continue this sequence of talks by describing how one
controls the flow of observables in our theory. If time permits I will
give a sketch of how studying the flow of one fairly simple observable
shows that the measure constructed is non-trivial (non-Gaussian). This
is joint work with Abdelmalek Abdesselam and Gianluca Guadagni.

<!--insert abstract (if there is one) above this comment-->
</TD></TR><TR><TD VALIGN="top">


<B>February 22</B>
<TD VALIGN="top">
Speaker:
Ajay Chandra
<BR>
<I>Title:
Rigorous quantum field theory
functional integrals over the p-adics, cont.
</TD></TR><TR><TD VALIGN="top">

<B>May 2</B>
<TD VALIGN="top">
Speaker:
Juliane Rama
<BR>
<I>Title:
Instability of resonances in the Stark effect for a simple model
</I>
<BR>
Abstract:
This is joint work with Ira Herbst. For a simple matrix Schroedinger operator we present some (preliminary) results on the instability of a resonance under the influence of a small electric field in the weak field limit (DC Stark effect).
<!--TALKS END HERE-->



</TD></TR>
</TABLE>



<hr />
<h3 class="mb-3">Archives</h3>

<p><a href="/seminars/mathphys/">current</a> |
<a href="/seminars/mathphys/2016-17/">2016-17</a> |
<a href="/seminars/mathphys/2015-16/">2015-16</a> |
<a href="/seminars/mathphys/2014-15/">2014-15</a> |
<a href="/seminars/mathphys/2013-14/">2013-14</a> |
<a href="/seminars/mathphys/2012-13/">2012-13</a> |
<a href="/seminars/mathphys/2011-12/">2011-12</a> |
<a href="/seminars/mathphys/2010-11/">2010-11</a> |
<a href="/seminars/mathphys/2009-10/">2009-10</a> |
<a href="/seminars/mathphys/2008-09/">2008-09</a> |
<a href="/seminars/mathphys/2007-08/">2007-08</a> |
<a href="/seminars/mathphys/2006-07/">2006-07</a> |
<a href="/seminars/mathphys/2005-06/">2005-06</a> |
<a href="/seminars/mathphys/2004-05/">2004-05</a> |
<a href="/seminars/mathphys/2003-04/">2003-04</a> |
<a href="/seminars/mathphys/2002-03/">2002-03</a> |
<a href="/seminars/mathphys/2001-02/">2001-02</a> |
<a href="/seminars/mathphys/2000-01/">2000-01</a> |
<a href="/seminars/mathphys/1999-00/">1999-00</a></p>

<hr />

<b>Contact:</b> {% for cnt in sem.contact %}<br />{% include person_info_email_only.html UVA_id = cnt.UVA_id %} {% endfor %}

<br><br><br>

<b><a href="{{sem.webpage}}">Old webpage link</a></b>

{%endif%}
{% endfor %}
