---
title: University of Virginia Mathematical Physics Seminar 2008-09
layout: static_page_no_right_menu
permalink: /seminars/mathphys/2008-09/
events: false
sem_page: true
sem_archive: true
nav_parent: Seminars
---

{% assign xx = page.permalink | split: '/' %}
{% assign cur_shortname = xx[2] %}

{% for sem in site.data.seminars %}
{%if sem.shortname == cur_shortname %}

{% if page.title == null %}
  <h1 class="mt-2 mb-4">University of Virginia {{sem.name}}</h1>
{% else %}
  <h1 class="mt-2 mb-4">{{page.title}}</h1>
{% endif %}

{% if sem.image != null %}
  <div class="row">
    <div class="col-md-3">
      <img src="{{ sem.image | replace: '__SITE_URL__', site.url }}" style="max-width:100%;max-height:400px;height:auto;width:auto;padding:10px" alt="{{sem.name}} image" title="{{sem.name}} image"/>
    </div>
  </div>
{% endif %}

<TABLE BORDER="yes" WIDTH="720" CELLPADDING="3">
<TR><TD VALIGN="top" WIDTH="100">

<!--
<B>September 10</B>
<TD VALIGN="top">
Speaker (Affiliation) <BR>
<I>Title of talk</I>
 -->


</TD></TR><TR><TD VALIGN="top">


<B>September 24</B>
<TD VALIGN="top">
John Imbrie (UVa) <BR>
<I>Introduction to expansion methods in statistical mechanics; Mayer expansions, I</I><BR>
I will describe the Mayer expansion as a systematic method of approximating a gas of interacting particles by an ideal (noninteracting) gas.  A "Forest-Root" formula will be used to interpolate between the interacting and noninteracting cases.  This will lead to a simple proof of convergence (including the recent refined estimates of Fernandez-Procacci) in the repulsive case.

</TD></TR><TR><TD VALIGN="top">


<B>October 1</B>
<TD VALIGN="top">
John Imbrie (UVa) <BR>
<I>Introduction to expansion methods in statistical mechanics; Mayer expansions, II</I><BR>



</TD></TR><TR><TD VALIGN="top">

<B>October 15</B>
<TD VALIGN="top">
John Imbrie (UVa) <BR>
<I>Introduction to expansion methods in statistical mechanics: Abstract Polymer Models</I><BR>
The convergence proof can be extended to gases of extended particles which arise in high or low temperature expansions for the Ising model and many other systems.


</TD></TR><TR><TD VALIGN="top">

<B>October 22</B>
<TD VALIGN="top">
John Imbrie (UVa) <BR>
<I>Hard Rods in One Dimension</I><BR>
The one-dimensional hard-core gas is exactly solvable with a bit of complex analysis and the Lambert W-function. The answer also tells us about branched polymers in three dimensions.


</TD></TR><TR><TD VALIGN="top">

<B>October 29</B>
<TD VALIGN="top">
Gianluca Guadagni (UVa) <BR>
<I>Queueing system with pre-scheduled random arrivals (Joint Mathematical Physics and Probability Seminar)</I><BR>

</TD></TR><TR><TD VALIGN="top">

<B>November 12</B>
<TD VALIGN="top">
Malek Abdesselam (UVa) <BR>
<I>Clustering estimates for n-point truncated correlations of an unbounded spin system</I><BR>
I will present clustering or L1 type estimates for the truncated correlations, i.e.,
cumulants of an unbounded spin system on the lattice. It is a massive complex Bosonic model
which features in the recent work by Lukkarinen and Spohn on the kinetic theory of quantum
fluids. The estimates use the method of field theoretical cluster expansions which go back to work of Glimm-Jaffe-Spencer in constructive quantum field theory. This is joint work with Aldo Procacci and Benedetto Scoppola.


</TD></TR><TR><TD VALIGN="top">

<B>November 19</B>
<TD VALIGN="top">
Malek Abdesselam (UVa) <BR>
<I>Clustering estimates for n-point truncated correlations of an unbounded spin system, continued</I><BR>


</TD></TR><TR><TD VALIGN="top">

<B>January 28</B>
<TD VALIGN="top">
Royce Zia (Virginia Tech) <BR>
<I>Towards a classification scheme for non-equilibrium steady states.</I><BR>
We propose a general classification of nonequilibrium steady states in terms of their stationary probability distribution and the associated probability currents. The stationary probabilities can be represented graph-theoretically as directed Cayley trees; closing a single loop in such a graph leads to a representation of probability currents. This classification allows us to identify all choices of transition rates, based on a master equation, which generate the same nonequilibrium steady state. We explore the implications of this freedom, e.g., for entropy production, and provide a number of examples.


</TD></TR><TR><TD VALIGN="top">

<B>March 11</B>
<TD VALIGN="top">
 Diana Vaman, Physics Department (UVa)<BR>
<I>Tree and loop on-shell recursion in Yang-Mills amplitudes</I><BR>
I will present an alternative method to Feynman diagrammatic evaluation of Yang-Mills amplitudes. Tree level on-shell recursion relations, or Brito-Cachazo-Feng-Witten (BCFW ) recursion, allow obtaining the scattering amplitude of n+1 gluons by knowing all lower n scattering amplitudes. The recursion relations can be derived using tree-level unitarity relations (or Veltman's largest time equations).  I will also discuss the extension to one-loop amplitudes.

</TD></TR><TR><TD VALIGN="top">

<B>March 25</B>
<TD VALIGN="top">
 Diana Vaman, Physics Department (UVa)<BR>
<I>Tree and loop on-shell recursion in Yang-Mills amplitudes, continued.</I><BR>

</TD></TR><TR><TD VALIGN="top">



<B>April 1</B>
<TD VALIGN="top">
 Tomio Umeda, University of Hyogo, Department of Mathematical Science<BR>
<I>Eigenfunctions at thresholds energies of Dirac operators with vector potentials.</I><BR>
The talk will be devoted to investigation of the asymptotic behaviors of eigenfunctions at the threshold enegies of the Dirac operator with positive mass. It turns out that zero modes (i.e., eigenfunctions corresponding to the zero energy) of the Weyl-Dirac operator surprisingly plays a crucial role. The core of our discussion is a new result on supersymmetric Dirac operators which will be proposed in the talk. Some related problems will also be discussed.  (Joint work with Yoshimi Saito.)
</TD></TR><TR><TD VALIGN="top">

<B>April 15</B>
<TD VALIGN="top">
David Hasler, William and Mary (special time this week: 3:30 p.m.)
 <BR>
<I>Resonances of moving atoms in non-relativistic qed.
</I><BR>
Non-relativistic quantum electrodynamics (qed) is a mathematically consistent model
describing low energy phenomena of quantum mechanical matter interacting with quantized radiation (photons).   We consider an atom which is initially in an excited state.   The excited state will eventually decay into a state of lower energy by sending out photons. We present results providing upper and lower bounds on  the lifetime of such excited states. We consider the case where the  atom is moving and comment on the related infrared problem.
</TD></TR><TR><TD VALIGN="top">


<B>April 22</B>
<TD VALIGN="top">
 Richard Kadison, University of Pennsylvania<BR>
Kadison is giving a special IMS lecture series this week:<br><BR>
April 21,
3:30 PM,
Wilson 402   <BR>
<I>The early development of the theory of operator algebras</i><BR>
<BR>
April 22,
3:30 PM,
Kerchof 317  <BR>
<I>Operator Algebras--a sampler.</I><BR>
<BR>
April 24,
2:30 PM,
Kerchof 317  <BR>
<I>The Pythagorean theorem - a closer look</i>
</TD></TR><TR><TD VALIGN="top">

<B>April 29</B>
<TD VALIGN="top">
 Malek Abdesselam (UVa) <BR>
<I>Upper bounds for classical spin networks.</I><BR>
In a recent article, Garoufalidis and van der Veen proposed an analogue of the volume conjecture for classical spin networks. These are generalizations of 3n-j coefficients from SU(2) recoupling theory for angular momentum in quantum mechanics. We will present new upper bounds on the evaluation of such networks, in the general case. For the case of drum graphs we also have lower bounds which allow for the exact determination of the growth rate when the number of `colors' goes to infinity.
</TD></TR><TR><TD VALIGN="top">





</TD></TR>
</TABLE>



<hr />
<h3 class="mb-3">Archives</h3>

<p><a href="/seminars/mathphys/">upcoming</a> |
<a href="/seminars/mathphys/2019-20/">2019-20</a> | <a href="/seminars/mathphys/2018-19/">2018-19</a> | <a href="/seminars/mathphys/2017-18/">2017-18</a> | <a href="/seminars/mathphys/2016-17/">2016-17</a> |
<a href="/seminars/mathphys/2015-16/">2015-16</a> |
<a href="/seminars/mathphys/2014-15/">2014-15</a> |
<a href="/seminars/mathphys/2013-14/">2013-14</a> |
<a href="/seminars/mathphys/2012-13/">2012-13</a> |
<a href="/seminars/mathphys/2011-12/">2011-12</a> |
<a href="/seminars/mathphys/2010-11/">2010-11</a> |
<a href="/seminars/mathphys/2009-10/">2009-10</a> |
<a href="/seminars/mathphys/2008-09/">2008-09</a> |
<a href="/seminars/mathphys/2007-08/">2007-08</a> |
<a href="/seminars/mathphys/2006-07/">2006-07</a> |
<a href="/seminars/mathphys/2005-06/">2005-06</a> |
<a href="/seminars/mathphys/2004-05/">2004-05</a> |
<a href="/seminars/mathphys/2003-04/">2003-04</a> |
<a href="/seminars/mathphys/2002-03/">2002-03</a> |
<a href="/seminars/mathphys/2001-02/">2001-02</a> |
<a href="/seminars/mathphys/2000-01/">2000-01</a> |
<a href="/seminars/mathphys/1999-00/">1999-00</a></p>

<hr />

<b>Contact:</b> {% for cnt in sem.contact %}<br />{% include person_info_email_only.html UVA_id = cnt.UVA_id %} {% endfor %}


{%endif%}
{% endfor %}
