---
title: University of Virginia Mathematical Physics Seminar 1999-00
layout: static_page_no_right_menu
permalink: /seminars/mathphys/1999-00/
events: false
sem_page: true
sem_archive: true
nav_parent: Seminars
---

{% assign xx = page.permalink | split: '/' %}
{% assign cur_shortname = xx[2] %}

{% for sem in site.data.seminars %}
{%if sem.shortname == cur_shortname %}

{% if page.title == null %}
  <h1 class="mt-2 mb-4">University of Virginia {{sem.name}}</h1>
{% else %}
  <h1 class="mt-2 mb-4">{{page.title}}</h1>
{% endif %}

{% if sem.image != null %}
  <div class="row">
    <div class="col-md-3">
      <img src="{{ sem.image | replace: '__SITE_URL__', site.url }}" style="max-width:100%;max-height:400px;height:auto;width:auto;padding:10px" alt="{{sem.name}} image" title="{{sem.name}} image"/>
    </div>
  </div>
{% endif %}


Click on the week to find out details about the seminar.
<br /><br />

<ul>

<li><a href="../1999-03/Sep15">
  Week of Sep 15</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  Clayton Kerce
  (Georgia Tech). Talk Friday, 9/17, on isoperimetric
 inequalities for Gaussian measures.

<li><a href="../1999-03/Sep22">
  Week of Sep 22</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  Anastasia  Ruzmaikina.  Talk Thursday, 9/23 at 3:30, on Stochastic Calculus with fractional Brownian motion.

<li><a href="../1999-03/Sep29">
  Week of Sep 29</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
No seminar scheduled.

<li><a href="../1999-03/Oct6">
  Week of Oct 6</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  Luc Rey-Bellet <em>"Asymptotics of Nonequilibrium Steady States"</em>


<li><a href="../1999-03/Oct13">
   Week of Oct 13</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <A HREF=
     "http://solid13.tphys.physik.uni-tuebingen.de/baake/arbeitsgruppen.html">
  Michael Baake</A> (Tuebingen). Talk Tuesday, 10/12:
   <em>"Mathematical Diffraction Theory"</em>

<li><a href="../1999-03/Oct20">
  Week of Oct 20</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <A HREF="http://www.math.virginia.edu/~lr7q"> Luc Rey-Bellet</A>
   <em>"Asymptotics of Nonequilibrium Steady States"</em>, continued.

<li><a href="../1999-03/Oct27">
   Week of Oct 27</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
     Wednesday 3:30: Bio/Math Round Table

<li><a href="../1999-03/Nov3">
Week of Nov 3&nbsp;&nbsp;</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   Tadashi Tokieda, <em>"Perturbation theory for symmetric Hamiltonian
    systems"</em>

<li> <a href="../1999-03/Nov10">
   Week of Nov 10</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
     No seminar scheduled.

<li> <a href="../1999-03/Nov17">
   Week of Nov 17</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    John Cagnol, <em>"Shape Optimization, Shells, and Applications"</em>

<li><a href="../1999-03/Nov24">
   Week of Nov 24</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   Thanksgiving.

<li><a href="../1999-03/Dec1">
  Week of Dec 1&nbsp;&nbsp;</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   F12/3: Bastiaan Braams (NYU).
<em> "Electronic structure calculations
via reduced density matrices and semidefinite programming."</em>
Of related interest: Dec. 2
Colloquium

<li><a href="../1999-03/Dec8">
  Week of Dec 8&nbsp;&nbsp;</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 Tom Kennedy  gives Dec. 9
Colloquium.

<li><a href="../1999-03/Dec15">
Week of Dec 15</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 Pierluigi Contucci in town on Monday and Tuesday.


<li><a href="../1999-03/Jan5">
   Week of Jan 5&nbsp;&nbsp;</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   No seminar scheduled.

<li><a href="../1999-03/Jan12">
   Week of Jan 12</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   Chongchun Zeng colloquium:
<em> "Homoclinic orbits and chaos for dissipative near-integrable PDE"</em>,
 Friday, Jan. 14.

<li><a href="../1999-03/Jan19">
    Week of Jan 19</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    Jaihong Wu colloquium:  <em>"Zero dissipation limits in mechanics"</em>,
 Monday, Jan. 17.

<li><a href="../1999-03/Jan26">
   Week of Jan 26</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    No seminar scheduled.

<li><a href="../1999-03/Feb2">
   Week of Feb 2&nbsp;</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Irena Lasiecka, <em>"Quasilinear hyperbolic equations: recent progress and open
questions"</em>.

<li><a href="../1999-03/Feb9">
  Week of Feb 9</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Ming Yang, Monday colloquium Monday at 4 p.m.:  <em>"Moments for Exit Times"
</em>
<br>
Vadim Zharnitsky colloquium Thursday at 4 p.m.:
   <em>"Stabilizing Effects of Dispersion Management"</em>

<li><a href="../1999-03/Feb16">
  Week of Feb 16</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    Irena Lasiecka, <em>"Quasilinear hyperbolic equations, continued</em>.

<li><a href="../1999-03/Feb23">
  Week of Feb 23</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   David Brydges, <em>"Self-Avoiding Walk"</em>.

<li><a href="../1999-03/Mar1">
   Week of Mar 1&nbsp;</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   David Brydges, <em>"Self-Avoiding Walk, continued"</em>.

<li><a href="../1999-03/Mar8">
  Week of Mar 8</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Laszlo Erdos
     Friday 2pm in Clark 143<em>"Lieb-Thirring inequalities in
strong magnetic field"</em> <br>
Of related interest:  Laszlo Erdos
<A HREF="http://www.math.virginia.edu/~ab4v/colloq/1999-00.html">Colloquium</A>
Thursday 4pm
<em>"Derivation of kinetic equations from Quantum Mechanics"</em>

<li><a href="../1999-03/Mar22">
   Week of Mar 22</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  Friday at 2 p.m. in Ker 317:  Herbert Koch (Heidelberg) <em><a href="../1999-03/Mar24.pdf"
>"Unique continuation for elliptic equations with nonsmooth coefficients."</A></em>
<br>Of related interest:  Koch will also give the
<A HREF="http://www.math.virginia.edu/~ab4v/colloq/1999-00.html">Colloquium</A>
Thursday 4pm
<em><a href="../1999-03/Mar23.pdf">"Well-posedness for the Navier-Stokes equations."</a></em>

<li><a href="../1999-03/Mar29">
   Week of Mar 29</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   Agoston Pisztora. <em>"Phase coexistence in Ising type
   systems"</em> <br>

<li><a href="../1999-03/Apr5">
   Week of Apr 5&nbsp;</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    John Imbrie, <em>"Self Avoiding Walk, continued." </em>

<li><a href="../1999-03/Apr12">
   Week of Apr 12&nbsp;</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    John Imbrie, <em>"Self Avoiding Walk, continued." </em>

<li><a href="../1999-03/Apr19">
Week of Apr 19</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Larry Thomas, <em>"Stochastic Differential Equations Stuff."</em>

<li><a href="../1999-03/Apr26">
    Week of Apr 26</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Larry Thomas, <em>"Stochastic Differential Equations Stuff, continued."</em>

<li><a href="../1999-03/May3">
     Week of May 3&nbsp;</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
     No seminar scheduled.
</ul>

<hr />
<h3 class="mb-3">Archives</h3>

<p><a href="/seminars/mathphys/">current</a> |
<a href="/seminars/mathphys/2016-17/">2016-17</a> |
<a href="/seminars/mathphys/2015-16/">2015-16</a> |
<a href="/seminars/mathphys/2014-15/">2014-15</a> |
<a href="/seminars/mathphys/2013-14/">2013-14</a> |
<a href="/seminars/mathphys/2012-13/">2012-13</a> |
<a href="/seminars/mathphys/2011-12/">2011-12</a> |
<a href="/seminars/mathphys/2010-11/">2010-11</a> |
<a href="/seminars/mathphys/2009-10/">2009-10</a> |
<a href="/seminars/mathphys/2008-09/">2008-09</a> |
<a href="/seminars/mathphys/2007-08/">2007-08</a> |
<a href="/seminars/mathphys/2006-07/">2006-07</a> |
<a href="/seminars/mathphys/2005-06/">2005-06</a> |
<a href="/seminars/mathphys/2004-05/">2004-05</a> |
<a href="/seminars/mathphys/2003-04/">2003-04</a> |
<a href="/seminars/mathphys/2002-03/">2002-03</a> |
<a href="/seminars/mathphys/2001-02/">2001-02</a> |
<a href="/seminars/mathphys/2000-01/">2000-01</a> |
<a href="/seminars/mathphys/1999-00/">1999-00</a></p>

<hr />

<b>Contact:</b> {% for cnt in sem.contact %}<br />{% include person_info_email_only.html UVA_id = cnt.UVA_id %} {% endfor %}

<br><br><br>

<b><a href="{{sem.webpage}}">Old webpage link</a></b>

{%endif%}
{% endfor %}
