---
title: University of Virginia Mathematical Physics Seminar 2001-02
layout: static_page_no_right_menu
permalink: /seminars/mathphys/2001-02/
events: false
sem_page: true
sem_archive: true
nav_parent: Seminars
---

{% assign xx = page.permalink | split: '/' %}
{% assign cur_shortname = xx[2] %}

{% for sem in site.data.seminars %}
{%if sem.shortname == cur_shortname %}

{% if page.title == null %}
  <h1 class="mt-2 mb-4">University of Virginia {{sem.name}}</h1>
{% else %}
  <h1 class="mt-2 mb-4">{{page.title}}</h1>
{% endif %}

{% if sem.image != null %}
  <div class="row">
    <div class="col-md-3">
      <img src="{{ sem.image | replace: '__SITE_URL__', site.url }}" style="max-width:100%;max-height:400px;height:auto;width:auto;padding:10px" alt="{{sem.name}} image" title="{{sem.name}} image"/>
    </div>
  </div>
{% endif %}

Click on the week to find out details about the seminar.
<br /><br />


<ul>

<li><a href="../1999-03/Sep5">
  Week of Sep 5</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
No seminar scheduled.

<li><a href="../1999-03/Sep12">
  Week of Sep 12</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
No seminar scheduled.

<li><a href="../1999-03/Sep19">
  Week of Sep 19</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
No seminar scheduled.

<li><a href="../1999-03/Sep26">
  Week of Sep 26</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 <font color=green>
 Tadashi Tokieda Wed 3:30 <br>
<font color=red>  and </font>
<a href=http://mathnt.mat.jhu.edu/zelditch/>Steve Zelditch</a> Thursday Colloquium 4pm</font>

<li><a href="../1999-03/Oct3">
  Week of Oct 3</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
No seminar scheduled.

<li><a href="../1999-03/Oct10">
  Week of Oct 10</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
No seminar scheduled.

<li><a href="../1999-03/Oct17">
  Week of Oct 17</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
No seminar scheduled.

<li><a href="../1999-03/Oct24">
  Week of Oct 24</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<font color=green>
 Anastasia Ruzmaikina, <em>Quasistationary States of the Indy 500 Model.</em> </font>


<li><a href="../1999-03/Oct31">
  Week of Oct31</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<font color=green>
 Anastasia Ruzmaikina, <em>Quasistationary States of the Indy 500 Model, continued. </em></font>


<li><a href="../1999-03/Nov7">
  Week of Nov 7</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<font color=green>
Luc Reybellet, <em>Hypoellipticity of Generators of Diffusions.</em>
</font>
<font color=red>
This week only, talk will be Friday at 2 in Ker 317
</font>

<li><a href="../1999-03/Nov14">
  Week of Nov 14</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<font color=green>
Luc Reybellet, <em>Hypoellipticity of Generators of Diffusions, continued.</em>
</font>
<li><a href="../1999-03/Nov21">
  Week of Nov 21</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Thanksgiving.

<li><a href="../1999-03/Nov28">
  Week of Nov 28</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<font color=green>
Don Richardsб <em>Higher-Order Generalizations of the FKG Inequality.</em>
</font>


<li><a href="../1999-03/Dec5">
  Week of Dec 5</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<font color=green>
Don Richards, <em>Higher-Order Generalizations of the FKG Inequality, continued.</em>
</font>


<li><a href="../1999-03/Dec12">
  Week of Dec 12</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Final exam week.

<font color=green>
<li><a href="../1999-03/Jan16">
  Week of Jan 16</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Pat McDonald (New College of Florida and MIT)  .
<font color=red> Talk Tuesday, 1/15 at 3:30pm in 228 Kerchof: </font>
<em> "Moment problems, heat content, and Dirichlet spectrum
                for smoothly bounded compact Riemannian manifolds"</em>
</font>

<li><a href="../1999-03/Jan23">
  Week of Jan 23</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
No seminar scheduled.

<li><a href="../1999-03/Jan30">
  Week of Jan 30</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
No seminar scheduled.

<li><a href="../1999-03/Feb6">
  Week of Feb 6</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font color=green>
John Imbrie,<em> The one-dimensional hard-core gas and three-dimensional branched polymers.
</em></font>

<li><a href="../1999-03/Feb13">
  Week of Feb 13</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font color=green>
John Imbrie,<em> The one-dimensional hard-core gas and three-dimensional branched polymers, continued.
</em></font>


<li><a href="../1999-03/Feb20">
  Week of Feb 20</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font color=green>
John Imbrie,<em> The one-dimensional hard-core gas and three-dimensional branched polymers, continued.
</em></font><font color=red>
Friday at 3:30, note change from the usual day</font>



<li><a href="../1999-03/Feb27">
  Week of Feb 27</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;No seminar scheduled.

<li><a href="../1999-03/Mar6">
  Week of Mar 6</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<font color=green>
<a href="{{site.url}}/people/ji2k/">John Imbrie</a>,<em> <a href="https://arxiv.org/pdf/math-ph/0107005.pdf">The Sine-Gordon transformation, hard-core gases, and the Yang-Lee edge</a>.
</em></font>



<li><a href="../1999-03/Mar13">
  Week of Mar 13</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Spring Break.

<li><a href="../1999-03/Mar20">
  Week of Mar 20</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <font color=green>
<a href="http://www.phys.virginia.edu/People/personal.asp?UID=pf7a">Paul Fendley</a>,<em> How to do exact computations in two-dimensional statistical mechanics.
</em></font>


<li><a href="../1999-03/Mar27">
  Week of Mar 27</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<font color=green><a href="http://www-fourier.ujf-grenoble.fr/~joye/">Alain Joye</a> (Institute Fourier, Universite Grenoble). Magnetic transport in a straight parabolic channel.</font> <font color=red> Mon 2:00 in Ker 228</font>.

<li><a href="../1999-03/Apr3">
  Week of Apr 3</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<font color=green>
Simon Wugalter (Mathematics Institute, LMU Munchen). <em><a href="https://arxiv.org/pdf/math-ph/0112010.pdf">New results in
non-relativistic QED</a>.</em></font><font color=red> Mon 2:00 in Ker 228</font>

and
<br>
<font color=green>
Maria Hoffmann-Ostenhof (University of Vienna). <em><a href="https://arxiv.org/pdf/math-ph/0109020.pdf">Smoothness of the Electron Density</a>.</em></font><font color=red> Wed 3:30 in Ker 317</font>

</em>

</font>



<li><a href="../1999-03/Apr10">
  Week of Apr 10</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
No seminar scheduled.

<li><a href="../1999-03/Apr17">
  Week of Apr 17</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
No seminar scheduled.

<li><a href="../1999-03/Apr24">
  Week of Apr 24</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
No seminar scheduled.


<li><a href="../1999-03/May1">
  Week of May 1</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  <font color=green>
<a href="http://www.phys.virginia.edu/People/personal.asp?UID=pa6z">Peter Arnold</a>,<em> Bose-Einstein condensation</em></font>

<li><a href="../1999-03/May8">
  Week of May 8</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Final exam week.



</ul>

<hr />
<h3 class="mb-3">Archives</h3>

<p><a href="/seminars/mathphys/">upcoming</a> |
<a href="/seminars/mathphys/2018-19/">2018-19</a> | <a href="/seminars/mathphys/2017-18/">2017-18</a> | <a href="/seminars/mathphys/2016-17/">2016-17</a> |
<a href="/seminars/mathphys/2015-16/">2015-16</a> |
<a href="/seminars/mathphys/2014-15/">2014-15</a> |
<a href="/seminars/mathphys/2013-14/">2013-14</a> |
<a href="/seminars/mathphys/2012-13/">2012-13</a> |
<a href="/seminars/mathphys/2011-12/">2011-12</a> |
<a href="/seminars/mathphys/2010-11/">2010-11</a> |
<a href="/seminars/mathphys/2009-10/">2009-10</a> |
<a href="/seminars/mathphys/2008-09/">2008-09</a> |
<a href="/seminars/mathphys/2007-08/">2007-08</a> |
<a href="/seminars/mathphys/2006-07/">2006-07</a> |
<a href="/seminars/mathphys/2005-06/">2005-06</a> |
<a href="/seminars/mathphys/2004-05/">2004-05</a> |
<a href="/seminars/mathphys/2003-04/">2003-04</a> |
<a href="/seminars/mathphys/2002-03/">2002-03</a> |
<a href="/seminars/mathphys/2001-02/">2001-02</a> |
<a href="/seminars/mathphys/2000-01/">2000-01</a> |
<a href="/seminars/mathphys/1999-00/">1999-00</a></p>

<hr />

<b>Contact:</b> {% for cnt in sem.contact %}<br />{% include person_info_email_only.html UVA_id = cnt.UVA_id %} {% endfor %}



{%endif%}
{% endfor %}
