---
title: University of Virginia Mathematical Physics Seminar 2002-03
layout: static_page_no_right_menu
permalink: /seminars/mathphys/2002-03/
events: false
sem_page: true
sem_archive: true
nav_parent: Seminars
---

{% assign xx = page.permalink | split: '/' %}
{% assign cur_shortname = xx[2] %}

{% for sem in site.data.seminars %}
{%if sem.shortname == cur_shortname %}

{% if page.title == null %}
  <h1 class="mt-2 mb-4">University of Virginia {{sem.name}}</h1>
{% else %}
  <h1 class="mt-2 mb-4">{{page.title}}</h1>
{% endif %}

{% if sem.image != null %}
  <div class="row">
    <div class="col-md-3">
      <img src="{{ sem.image | replace: '__SITE_URL__', site.url }}" style="max-width:100%;max-height:400px;height:auto;width:auto;padding:10px" alt="{{sem.name}} image" title="{{sem.name}} image"/>
    </div>
  </div>
{% endif %}

Click on the week to find out details about the seminar.
<br /><br />


<ul>

<li><a href="../1999-03/Sep4">
  Week of Sep 4</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
No seminar scheduled.

<li><a href="../1999-03/Sep11">
  Week of Sep 11</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
No seminar scheduled.

<li><a href="../1999-03/Sep18">
  Week of Sep 18</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
No seminar scheduled.

<li><a href="../1999-03/Sep25">
  Week of Sep 25</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Sept. 23, 3:30, Brian Street, Gauge Fields.

<li><a href="../1999-03/Oct2">
  Week of Oct 2</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Sept. 30, 3:30, Alex Jimenez-Maza, Holonomic Constraints

<li><a href="../1999-03/Oct9">
  Week of Oct 9</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Oct. 9, 3:30, Brian Street, Gauge theories 101

<li><a href="../1999-03/Oct16">
  Week of Oct 16</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Oct. 14, 3:30, Alex Jimenez-Maza, Holonomic Constraints (cont.)<br>
&nbsp; &nbsp; &nbsp; &nbsp;<font color=green>
Oct. 18, 3:30, Michael Kiessling (Rutgers),
<em> "Remarks on the Electromagnetic Ultraviolet Problems". </em></font>

<li><a href="../1999-03/Oct23">
  Week of Oct 23</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Oct. 21, 3:30, Alex Jimenez-Maza, Holonomic Constraints (cont.)<br>

<li><a href="../1999-03/Oct30">
  Week of Oct30</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Oct. 28, 3:30, Holly Carley, Strong-Coupling Problems in Quantum Mechanics

<li><a href="../1999-03/Nov6">
  Week of Nov 6</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Nov. 4, 3:30, Holly Carley, Strong-Coupling Problems in Quantum Mechanics
(cont.)

<li><a href="../1999-03/Nov13">
 Week of Nov. 13</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Nov. 11, 3:30, L. Thomas, Stochastic Differential Equations and
 Statistical Physics





<li><a href="../1999-03/Nov21">
 Week of Nov. 20 </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 Nov. 18, 3:30, L. Thomas, Stochastic Differential Equations and
 Statistical Physics (cont.)





<li><a href="../1999-03/Nov27">
  Week of Nov 27</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Nov. 25, 3:30, S. Suwanna, Stability of atoms and molecules.


<li><a href="../1999-03/Dec4">
  Week of Dec 4</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Dec. 2, 3:30, S. Suwanna, Stability of atoms and molecules (cont.)

<li><a href="../1999-03/Dec11">
  Week of Dec 11</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Final exam week.

<li><a href="../1999-03/Jan15">
  Week of Jan 15</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
No seminar scheduled.

<li><a href="../1999-03/Jan22">
  Week of Jan 22</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Jan. 22, 3:30, Luc Rey-Bellet, Quantum non-equilibrium statistical mechanics

<li><a href="../1999-03/Jan29">
  Week of Jan 29</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Jan. 29, 3:30 Ira Herbst, Absence of quantum states corresponding to
  unstable classical channels

<li><a href="../1999-03/Feb5">
  Week of Feb 5</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Feb. 5, 3:30 Gianluca Guadagni, Renormalization Group 101.




<li><a href="../1999-03/Feb12">
  Week of Feb 12</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Feb. 12, 3:30 A. Burchard, Introduction to Percolation.

<li><a href="../1999-03/Feb19">
  Week of Feb 19</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Feb. 19, 3:30 A. Burchard, Critical percolation in the plane:
Scaling limits, conformal invariance, and SLE_6.

<li><a href="../1999-03/Feb26">
  Week of Feb 26</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Feb. 26, 3:30 R. Felker, Introduction to wavelets, I.

<li><a href="../1999-03/Mar5">
  Week of Mar 5</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Spring Break.

<li><a href="../1999-03/Mar12">
  Week of Mar 12</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Mar. 12, 3:30 R. Felker, Introduction to wavelets, II.

<li><a href="../1999-03/Mar19">
  Week of Mar 19</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
March 19, 3:30: &nbsp;
A. Burchard, The scaling limit
of critical percolation in the plane:
Smirnov's proof of conformal invariance.

<li><a href="../1999-03/Mar26">
  Week of Mar 26</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
March 26, 3:30 Gianluca Guadagni, Renormalization Group:
  Decomposition of the Covariance.

<li><a href="../1999-03/Apr2">
 Week of Apr 2</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
April 2, 3:30 L.Thomas, Low regularity solutions of a gently
 stochastic wave equation for statistical mechanics.

<li><a href="../1999-03/Apr9">
  Week of Apr 9</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
April 9, 3:30. S. Suwanna, Random Schr&ouml;dinger Operators, I.
The Ergodic Theorem.

<li><a href="../1999-03/Apr16">
  Week of Apr 16</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
April 16, 3:30. E. Valenti, Random Schr&ouml;dinger Operators, II.
Some spectral theory, the RAGE theorem.

<li><a href="../1999-03/Apr23">
  Week of Apr 23</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Monday April 21, 3:30: Wolfgang Spitzer, From Atomic Physics to
Semi-classical Analysis. <br>
&nbsp;&nbsp;&nbsp; &nbsp;
&nbsp;&nbsp;&nbsp; &nbsp;
&nbsp;&nbsp;&nbsp; &nbsp;
&nbsp;&nbsp;&nbsp; &nbsp;
&nbsp;&nbsp;&nbsp; &nbsp;
&nbsp;&nbsp;&nbsp; &nbsp;
Wed, April 23, 3:30: Su Suwanna, Random  Schr&ouml;dinger Operators, III.

<li><a href="../1999-03/Apr30">
  Week of Apr 30</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
No seminar scheduled.

<li><a href="../1999-03/May7">
  Week of May 7</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Final exam week.



</ul>

<hr />
<h3 class="mb-3">Archives</h3>

<p><a href="/seminars/mathphys/">upcoming</a> |
<a href="/seminars/mathphys/2019-20/">2019-20</a> | <a href="/seminars/mathphys/2018-19/">2018-19</a> | <a href="/seminars/mathphys/2017-18/">2017-18</a> | <a href="/seminars/mathphys/2016-17/">2016-17</a> |
<a href="/seminars/mathphys/2015-16/">2015-16</a> |
<a href="/seminars/mathphys/2014-15/">2014-15</a> |
<a href="/seminars/mathphys/2013-14/">2013-14</a> |
<a href="/seminars/mathphys/2012-13/">2012-13</a> |
<a href="/seminars/mathphys/2011-12/">2011-12</a> |
<a href="/seminars/mathphys/2010-11/">2010-11</a> |
<a href="/seminars/mathphys/2009-10/">2009-10</a> |
<a href="/seminars/mathphys/2008-09/">2008-09</a> |
<a href="/seminars/mathphys/2007-08/">2007-08</a> |
<a href="/seminars/mathphys/2006-07/">2006-07</a> |
<a href="/seminars/mathphys/2005-06/">2005-06</a> |
<a href="/seminars/mathphys/2004-05/">2004-05</a> |
<a href="/seminars/mathphys/2003-04/">2003-04</a> |
<a href="/seminars/mathphys/2002-03/">2002-03</a> |
<a href="/seminars/mathphys/2001-02/">2001-02</a> |
<a href="/seminars/mathphys/2000-01/">2000-01</a> |
<a href="/seminars/mathphys/1999-00/">1999-00</a></p>

<hr />

<b>Contact:</b> {% for cnt in sem.contact %}<br />{% include person_info_email_only.html UVA_id = cnt.UVA_id %} {% endfor %}



{%endif%}
{% endfor %}
