---
title: University of Virginia Mathematical Physics Seminar 2007-08
layout: static_page_no_right_menu
permalink: /seminars/mathphys/2007-08/
events: false
sem_page: true
sem_archive: true
nav_parent: Seminars
---

{% assign xx = page.permalink | split: '/' %}
{% assign cur_shortname = xx[2] %}

{% for sem in site.data.seminars %}
{%if sem.shortname == cur_shortname %}

{% if page.title == null %}
  <h1 class="mt-2 mb-4">University of Virginia {{sem.name}}</h1>
{% else %}
  <h1 class="mt-2 mb-4">{{page.title}}</h1>
{% endif %}

{% if sem.image != null %}
  <div class="row">
    <div class="col-md-3">
      <img src="{{ sem.image | replace: '__SITE_URL__', site.url }}" style="max-width:100%;max-height:400px;height:auto;width:auto;padding:10px" alt="{{sem.name}} image" title="{{sem.name}} image"/>
    </div>
  </div>
{% endif %}

<TABLE WIDTH="680" CELLPADDING="0"
<TR><TD ALIGN="left">


<CENTER>
<DIV class="huge">
Mathematical Physics
<BR>
Fall 2007
</DIV>
<BR>

<DIV class="medium">
Regular time and location:
Wednesdays, 3:30-5:30pm, 317 Kerchof Hall<BR>
</DIV>
</CENTER>

<BR>

<!-- TALKS START HERE!!!-->

<TABLE BORDER="yes" WIDTH="680" CELLPADDING="3">
<TR><TD VALIGN="top" WIDTH="100">


<B>August 29</B>
<TD VALIGN="top">
<!--
Speaker (Affiliation) <BR>
<I>Title of talk</I>
-->


</TD></TR><TR><TD VALIGN="top">


<B>September 5</B>
<TD VALIGN="top">
<!--
Speaker (Affiliation) <BR>
<I>Title of talk</I>
-->


</TD></TR><TR><TD VALIGN="top">


<B>September 12</B>
<TD VALIGN="top">
<!--
Speaker (Affiliation) <BR>
<I>Title of talk</I>
-->


</TD></TR><TR><TD VALIGN="top">


<B>September 19</B>
<TD VALIGN="top">

Speaker: L. Thomas(UVA) <BR>
<I>On the Mehler Transform</I>



</TD></TR><TR><TD VALIGN="top">


<B><a href="Sept.26"> September 26</a></B>
<TD VALIGN="top">

Speaker: David Hasler (UVA) <BR>
<I>Lifetimes of quasi-stationary states in non-relativistic QED </I>
</TD></TR><TR><TD VALIGN="top">


<B><a href="Sept.26"> October 3</a></B>
<TD VALIGN="top">
Speaker: David Hasler (UVA) <BR>
<I>Lifetimes of quasi-stationary states in non-relativistic QED (cont.) </I>
</TD></TR><TR><TD VALIGN="top">


<B><a href="Oct.10">October 10</a></B>
<TD VALIGN="top">
Speaker: Stephen Sontz (CIMAT, Guanajuato, Mexico) <BR>
<I>Segal -Bargmann Analysis using Dunkl Operators </I>
</TD></TR><TR><TD VALIGN="top">


<B>October 17</B>
<TD VALIGN="top">
<!--
Speaker (Affiliation) <BR>
<I>Title of talk </I>
-->


</TD></TR><TR><TD VALIGN="top">


<B><a href="Oct.24">October 24</B>
<TD VALIGN="top">
Speaker: Alex Elgart, VPI <BR>
<I>Regularity of the Green Function for a vector valued Anderson System </I>



</TD></TR><TR><TD VALIGN="top">


<B><a href="Oct.31"> October 31</B>
<TD VALIGN="top">
Speaker: Yao Wang (UVA) <BR>
<I> Existence and uniqueness for invariant measure
for a stochastic system with ultra-violet cutoff  </I>



</TD></TR><TR><TD VALIGN="top">


<B><a href="Nov.7"> November 7</B>
<TD VALIGN="top">
Speaker: George Hagedorn, (VPI) <BR>
<I>The Franck-Condon Effect for a Simple Molecular System subject to
a Laser Pulse </I></BR> <BR>
 AND Speaker: Alain Joye, (Grenoble, Fr.)<BR>
<I>Repeated Interaction Quantum Systems: Deterministic and Random   </I></TD>
</TR><TR><TD VALIGN="top">


<B><a href="Nov.14">November 14</B>
<TD VALIGN="top">
Speaker: Abdelmalek Abdesselam (UVA) <BR>
<I>A connecting heteroclinic orbit for the renormalization group I : overview </I>
</TD></TR><TR><TD VALIGN="top">


<B>November 21</B>
<TD VALIGN="top">
<I>Thanksgiving Break</I>


</TD></TR><TR><TD VALIGN="top">


<B><a href="Nov.14">November 28</B>
<TD VALIGN="top">
Speaker:Abdelmalek Abdesselam (UVA) <BR>
<I>A connecting heteroclinic orbit for the renormalization group II :
 </I>



</TD></TR><TR><TD VALIGN="top">


<B><a href="Nov.14">December 5</B>
<TD VALIGN="top">
Speaker: Abdelmalek Abdesselam (UVA)  <BR>
<I>A connecting heteroclinic orbit for the renormalization group III: </I>



</TD></TR><TR><TD VALIGN="top">

<B><a href="Oct.31"> Dec. 12</B>
<TD VALIGN="top">
Speaker: Yao Wang (UVA) <BR>
<I> Existence and uniqueness for invariant measure
for a stochastic system with ultra-violet cutoff II  </I>

</TD></TR><TR><TD VALIGN="top">

<B><a href="Nov.14">February 13</B>
<TD VALIGN="top">
Speaker: Abdelmalek Abdesselam (UVA)  <BR>
<I>A connecting heteroclinic orbit for the renormalization group IV: </I>




</TD></TR><TR><TD VALIGN="top">

<B><a href="Nov.14">February 20</B>
<TD VALIGN="top">
Speaker: No talk scheduled   <BR>
<I> </I>


</TD></TR><TR><TD VALIGN="top">
<B><a href="Nov.14">February 27</B>
<TD VALIGN="top">
Speaker: Abdelmalek Abdesselam (UVA)  <BR>
<I>A connecting heteroclinic orbit for the renormalization group V: </I>

</TD></TR><TR><TD VALIGN="top">
<B><a href="Mar.19">March 19</B>
<TD VALIGN="top">
Speaker: Olivier Pfister (UVA, Physics)  <BR>
<I> Continuous
-variable graph states for quantum computing </I>

</TD></TR><TR><TD VALIGN="top">
<B><a href="Apr.2">April 2</B>
<TD VALIGN="top">
Speaker: Larry Thomas  <BR>
<I>Recent results on relaxation for chains of anharmonic
oscillators </I>



</TD></TR><TR><TD VALIGN="top">
<B><a href="Apr.18">April 18</B>
<TD VALIGN="top">
Speaker: Rainer Hempel (Technical University, Braunschweig)  <BR>
<I>On Open Scattering Channels for Manifolds with Ends  </I>







<!--Larry,

Rainer Hempel will talk on Friday April 18. Okay? Eventually he will send me a title and abstract. He is from the Technical University at Braunschweig.

Ira

E-mail note from Ira, Oct. 29.
-->


</TD></TR>
</TABLE>



<hr />
<h3 class="mb-3">Archives</h3>

<p><a href="/seminars/mathphys/">current</a> |
<a href="/seminars/mathphys/2016-17/">2016-17</a> |
<a href="/seminars/mathphys/2015-16/">2015-16</a> |
<a href="/seminars/mathphys/2014-15/">2014-15</a> |
<a href="/seminars/mathphys/2013-14/">2013-14</a> |
<a href="/seminars/mathphys/2012-13/">2012-13</a> |
<a href="/seminars/mathphys/2011-12/">2011-12</a> |
<a href="/seminars/mathphys/2010-11/">2010-11</a> |
<a href="/seminars/mathphys/2009-10/">2009-10</a> |
<a href="/seminars/mathphys/2008-09/">2008-09</a> |
<a href="/seminars/mathphys/2007-08/">2007-08</a> |
<a href="/seminars/mathphys/2006-07/">2006-07</a> |
<a href="/seminars/mathphys/2005-06/">2005-06</a> |
<a href="/seminars/mathphys/2004-05/">2004-05</a> |
<a href="/seminars/mathphys/2003-04/">2003-04</a> |
<a href="/seminars/mathphys/2002-03/">2002-03</a> |
<a href="/seminars/mathphys/2001-02/">2001-02</a> |
<a href="/seminars/mathphys/2000-01/">2000-01</a> |
<a href="/seminars/mathphys/1999-00/">1999-00</a></p>

<hr />

<b>Contact:</b> {% for cnt in sem.contact %}<br />{% include person_info_email_only.html UVA_id = cnt.UVA_id %} {% endfor %}

<br><br><br>

<b><a href="{{sem.webpage}}">Old webpage link</a></b>

{%endif%}
{% endfor %}
