---
title: Workshop (Spring 2024)
layout: static_page_no_right_menu
permalink: /ims/workshop-spring-2024/registration/
nav_parent: IMS
---

<h2 class="mb-2"><a href="{{site.url}}/ims/workshop-spring-2024/">Quantum Structures in Lie Theory</a></h2>

<h3 class="mb-4">March 1 &mdash; 3, 2024</h3>

<div class="row">
    <div class="col-12">
       The 14th <a href="https://www.math.lsu.edu/~pramod/selie/">Southeastern Lie Theory Workshop Series</a> at University of Virginia, Charlottesville, VA
    </div>
</div>
    
<hr>
<h3 class="mb-3">Financial support (deadline: January 25, 2024)</h3>

<div class="row">
    <div class="col-12">
        We will be able to provide financial support through an NSF Conference grant to some of the participants.
        The support will be primarily directed towards PhD students, early career researchers, and 
        members of underrepresented groups in mathematics.
        <p class="mt-2">
        To request financial support, please:
        <ul>
            <li>
                Register and indicate the financial support request 
                in the registration form below. 
                Answer the additional questions in the "NSF reporting" section.
            </li>
            <li>
                If you are a PhD candidate, have your advisor send a short
                recommendation letter (1 page limit)
                to {% include person_info_email_only.html UVA_id="wbt4qn" %} or {% include person_info_email_only.html UVA_id="yq2dw" %}
            </li>
        </ul> 
        The deadline to request financial support is January 25, 2024.
        </p>
    </div>
</div>

<hr>
<h2 class="mb-3">Registration form</h2>

If you plan to attend the workshop
(regardless of requesting financial support),
please fill the registration form below.

<ul>
    <li>The registration is free</li>
    <li>Please be aware of phising emails contacting you for hotel arrangements.</li>
</ul>

<br>

<hr>
<h2 class="mb-3">Recommended conference hotel </h2>

The department of Mathematics at Unversity of Virginia has negotiated a special conference pricing at the <a href="https://englishinncharlottesville.com/">English Inn of Charlottesville</a> for the workshop participants. A special discounted price of $159 per night
in double queen rooms has been confirmed for our workshop. In addition, shuttle services to our conference venue from the hotel will be provided free of charge. In order to make reservations at the English Inn, please 
 all the Front Desk (434-971-9900 EXT#0) and mention our workshop "Quantum Structures in Lie Theory" to make reservations. You will need to book with your own funds, and, if you are receiving support from us, be
reimbursed by North Carolina State University later with proper receipts. We recommend junior participants to pair up and utilize this special hotel pricing.

<br>
<div class="container">
<div class="row" align="center">
<iframe src="https://forms.gle/KkwevVcyuTevo1pD8" width="640" height="1403" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
</div>
</div>
