---
title: Graduate Students Seminar 1999-00
layout: seminar
permalink: /seminars/gradsem/1999-00/
events: false
sem_page: true
sem_archive: true
nav_parent: Seminars
---

{% assign xx = page.permalink | split: '/' %}
{% assign cur_shortname = xx[2] %}

{% for sem in site.data.seminars %}
{%if sem.shortname == cur_shortname %}

{% if page.title == null %}
  <h1 class="mt-2 mb-4">University of Virginia {{sem.name}}</h1>
{% else %}
  <h1 class="mt-2 mb-4">{{page.title}}</h1>
{% endif %}

{% if sem.image != null %}
  <div class="row">
    <div class="col-md-3">
      <img src="{{ sem.image | replace: '__SITE_URL__', site.url }}" style="max-width:100%;max-height:400px;height:auto;width:auto;padding:10px" alt="{{sem.name}} image" title="{{sem.name}} image"/>
    </div>
  </div>
{% endif %}

{% include cal_single.js google_cal_id = sem.google_cal_id current=false max_sem=100
show_from='1 July 1999'
show_to='1 July 2000' %}

<hr>
<h3 class="mb-3">Archives</h3>

<p><a href="/seminars/gradsem/">upcoming</a> | <a href="/seminars/gradsem/2024-25/">2024-25</a> | <a href="/seminars/gradsem/2023-24/">2023-24</a> | <a href="/seminars/gradsem/2022-23/">2022-23</a> | <a href="/seminars/gradsem/2021-22/">2021-22</a> | <a href="/seminars/gradsem/2020-21/">2020-21</a> | <a href="/seminars/gradsem/2019-20/">2019-20</a> | <a href="/seminars/gradsem/2018-19/">2018-19</a> | <a href="/seminars/gradsem/2017-18/">2017-18</a> | <a href="/seminars/gradsem/2016-17/">2016-17</a> |
<a href="/seminars/gradsem/2015-16/">2015-16</a> |
<a href="/seminars/gradsem/2014-15/">2014-15</a> |
<a href="/seminars/gradsem/2013-14/">2013-14</a> |
<a href="/seminars/gradsem/2012-13/">2012-13</a> |
<a href="/seminars/gradsem/2011-12/">2011-12</a> |
<a href="/seminars/gradsem/2010-11/">2010-11</a> |
<a href="/seminars/gradsem/2009-10/">2009-10</a> |
<a href="/seminars/gradsem/2008-09/">2008-09</a> |
<a href="/seminars/gradsem/2007-08/">2007-08</a> |
<a href="/seminars/gradsem/2006-07/">2006-07</a> |
<a href="/seminars/gradsem/2005-06/">2005-06</a> |
<a href="/seminars/gradsem/2004-05/">2004-05</a> |
<a href="/seminars/gradsem/2003-04/">2003-04</a> |
<a href="/seminars/gradsem/2002-03/">2002-03</a> |
<a href="/seminars/gradsem/2001-02/">2001-02</a> |
<a href="/seminars/gradsem/2000-01/">2000-01</a> |
<a href="/seminars/gradsem/1999-00/">1999-00</a> |
<a href="/seminars/gradsem/1998-99/">1998-99</a></p>

<hr />
    <b>Contact:</b> {% for cnt in sem.contact %}<br />{% include person_info_email_only.html UVA_id = cnt.UVA_id %}{% endfor %}



    {%endif%}
    {% endfor %}
