<!DOCTYPE html>
<html lang="en">

<head>
<title>{{page.name}} {{page.lastname}} | Mathematics at the University of Virginia</title>
{% include header.html %}
</head>

<body>

{% include top_brand.html %}

{% include navbar.html %}

<div class="container">
<div class="container">

  <div class="row">
    <div class="col-md-8">
      <h1>{{page.name}} {{page.lastname}}</h1>
      <h2 style="font-size:1.5em" class="mb-3">{{ page.position }}</h2>

      <div class="row">
        {% if page.office != null %}
        <div class="col-md-6">
          {% if page.office contains "Halsey" %}
            P. O. Box 400135<br />Department of Statistics<br />
          {% else %}
            P. O. Box 400137<br />Department of Mathematics<br />
          {% endif %}
          {{page.office}}
          {% if page.office_hours != null %}
            <br> Office hours: {{page.office_hours}}
          {% endif %}
        </div>
        {% endif %}
        <div class="col-md-6">

          {% if page.phone != null %}
            <span class="fa fa-phone" aria-hidden="true"></span>
            <a href="tel:{{page.phone}}">{{page.phone}}</a><br />
          {% endif %}

          {% if page.email != null %}
            <span class="fa fa-envelope" aria-hidden="true"></span>
            <a href="mailto:{{ page.email }}">{{ page.email }}</a>
            <br />
          {% endif %}

          {% if page.personal_page != null %}
            <span class="fa fa-external-link" aria-hidden="true"></span>
            <a href="{{ page.personal_page }}" target="_blank">Personal webpage</a>
          {% endif %}
        </div>
      </div>

      {% if page.areas != null %}
      <div class="row">
        <div class="col-md-8">
          <div class="list-group-sm mt-4">
            {% for area in page.areas %}
            {% for def_area in site.data.research_areas %}
              {% if def_area.name == area%}
                {% assign cur_def_area = def_area %}
              {% endif %}
            {% endfor %}
              <a class="list-group-item list-group-item-action" style="padding:2px 20px" href="{{site.url}}/research/{{cur_def_area.shortname}}">{{area}}</a>
            {% endfor %}
          </div>
        </div>
      </div>
      {% endif %}

      <br />

      {{ page.content | markdownify }}
    </div>
    <div class="col-md-4">
      {% if page.image != null %}
        <img src="{{ page.image | replace: '__SITE_URL__', site.url }}" style="max-width:100%;max-height:400px;height:auto;width:auto;" alt="{{ page.name }} {{ page.lastname }}" title="{{ page.name }} {{ page.lastname }}">
      {% else %}
        <img src="{{ site.url }}/img/people/Avatar_image.png" style="max-width:100%;max-height:400px;height:auto;width:auto;" class="hidden-sm-down" alt="{{ page.name }} {{ page.lastname }}" title="{{ page.name }} {{ page.lastname }}">
      {% endif %}
    </div><!--/span-->
  </div>
</div>
</div>

{% include footer.html %}

{%unless page.math == false %}{% include katex %}{% include mathjax %}{%endunless%}

{% include bootjs %}

{% include google-analytics.html %}{% include UVA_fonts.html %}

</body>

</html>
