<!DOCTYPE html>
<html lang="en">

<head>
{% include header.html %}
</head>

<body>

{% include top_brand.html %}

{% include navbar.html %}

<div class="container">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h3>[UVA Math Department website documentation]</h3>

        <hr />

        {{ content | markdownify }}

      </div>
      <div class="col-md-4">
        {% include documentation_sidebar.html %}
      </div>
    </div>
  </div>
</div>


{% include footer.html %}

{% include mathjax %}

{% include bootjs %}

</body>

</html>
