<!DOCTYPE html>
<html lang="en">

<head>
<title>{{ page.title }} | Geometry, Topology | Mathematics at the University of Virginia</title>
{% include header.html %}
</head>

<body>
<a href="#main-content" class="skip-link">Skip to main content</a>

{% include top_brand.html %}

{% include navbar.html %}

<main id="main-content" tabindex="-1">
<div class="container">
  <div class="container">


    <div class="row row-offcanvas row-offcanvas-right">
      <div class="col-md-8">

        {% assign rendered_content = content | markdownify %}
        {% unless rendered_content contains '<h1' %}<h1>{{ page.title | escape }}</h1>{% endunless %}
        {{ rendered_content }}

      </div>
      <div class="col-md-4">
        <hr class="hidden-md-up">
        <h2 class="h3 mb-3 sidebar-offcanvas">Geometry, Topology</h2>

        <nav aria-label="Geometry and topology"><div class="list-group h5">
            {% assign sorted_pages = site.pages | where: "geomtop_page", true | sort: "nav_weight" %}
            {% for pg in sorted_pages %}
            {% if pg.geomtop_page == true %}
                <a class="list-group-item list-group-item-action {% if page.permalink ==  pg.permalink %}active{% endif %} {%if page.geomtop_act_page != true and page.geomtop_act_main_page != true and pg.geomtop_act_page == true %}hidden-md-up hidden-md-down{% endif %}" href="{{pg.url}}" {% if page.url == pg.url %}aria-current="page"{% endif %}>{%if pg.geomtop_act_page == true%}&nbsp;&nbsp;&nbsp;&nbsp;{%endif%}{{pg.title}}</a>
            {% endif %}
            {% endfor %}
        </div></nav>
          
      </div>
    </div>
  </div>
</div>
</main>


{% include footer.html %}

{% include bootjs %}

{%unless page.math == false %}{% include katex %}{%endunless%}

{% include google-analytics.html %}{% include UVA_fonts.html %}

</body>

</html>
