<!DOCTYPE html>
<html lang="en">

<head>
<title>{{ page.title }} | Geometry and Topology | Mathematics at the University of Virginia</title>
{% include header.html %}
</head>

<body>

{% include top_brand.html %}

{% include navbar.html %}

<div class="container">
  <div class="container">


    <div class="row row-offcanvas row-offcanvas-right">
      <div class="col-md-8">

        {{ content | markdownify }}

      </div>
      <div class="col-md-4">
        <hr class="hidden-md-up">
        <h3 class="mb-3 sidebar-offcanvas">Geometry and Topology</h3>

        <div class="list-group-sm">
            {% assign sorted_pages = site.pages | sort: "nav_weight" %}
            {% for pg in sorted_pages %}
            {% if pg.geomtop_page == true %}
                <a class="list-group-item list-group-item-action h5 {% if page.permalink ==  pg.permalink %}active{% endif %}" href="{{pg.url}}">{{pg.title}}</a>
            {% endif %}
            {% endfor %}
        </div>
          
      </div>
    </div>
  </div>
</div>


{% include footer.html %}

{% include bootjs %}

{%unless page.math == false %}{% include katex %}{% include mathjax %}{%endunless%}

{% include google-analytics.html %}{% include UVA_fonts.html %}

</body>

</html>
