<!DOCTYPE html>
<html lang="en">

<head>
<title>{{ page.title }} | Mathematics at the University of Virginia</title>
{% include header.html %}
</head>

<body>

<a href="#main-content" class="skip-link">Skip to main content</a>

{% include top_brand.html %}

{% include navbar.html %}

<main id="main-content">
<div class="container">
<div class="container">

  <div class="row row-offcanvas row-offcanvas-right">
    <div class="col-12 col-md-9">
      <h1>{{page.title}}</h1>

      {% if page.event-date != null and page.multi-day-event %}
      <p>Event start date: <time datetime="{{ page.event-date | date: '%Y-%m-%d' }}">{{ page.event-date | date: "%A, %B %-d, %Y" }}</time></p>{% endif %}
      {% if page.event-date != null and page.multi-day-event != true %}
      <p>Event date: <time datetime="{{ page.event-date | date: '%Y-%m-%d' }}">{{ page.event-date | date: "%A, %B %-d, %Y" }}</time></p>{% endif %}

      {% include categories.html %}

      {% if page.image and page.image-alt %}
        {% unless page.categories contains 'virginia-math-bulletin' %}
          <img src="{{ page.image | replace: '__SITE_URL__', site.url }}" style="max-width:100%;max-height:{% if page.image-tall %}800{% else %}400{% endif %}px;height:auto;width:auto" alt="{{ page.image-alt | escape }}" class="mb-4">
        {% endunless %}
      {% endif %}


      {{ content }}

      <hr/>

      <strong>Last updated:</strong> {{ page.date | date: "%A, %B %-d, %Y" }}
		</div>
    <div class="col-md-3 sidebar-offcanvas">

    </div><!--/span-->
  </div>
</div>
</div>
</main>

{% include footer.html %}

{%unless page.math == false %}{% include katex %}{%endunless%}

{% include bootjs %}

{% include google-analytics.html %}{% include UVA_fonts.html %}

</body>

</html>
