<!DOCTYPE html>
<html lang="en">

<head>
    {% assign xx = page.permalink | split: '/' %}
    {% for word in xx %}{% if forloop.last %}{% assign cur_shortname = word %}{%endif%}{% endfor %}
    {% for area in site.data.research_areas %}
    {%if area.shortname == cur_shortname %}
      <title>{{ area.h-name }} Research | Mathematics at the University of Virginia</title>
    {%endif%}
    {% endfor %}
  {% include header.html %}
</head>

<body>

{% include top_brand.html %}

{% include navbar.html %}

<div class="container">
<div class="container">


      {{ content }}
</div>
</div>

{% include footer.html %}

{% include katex %}{% include mathjax %}

{% include bootjs %}

</body>

</html>
