<!DOCTYPE html>
<html lang="en">

<head>
    {% assign xx = page.permalink | split: '/' %}
    {% for word in xx %}{% if forloop.last %}{% assign cur_shortname = word %}{%endif%}{% endfor %}
    {% assign title_set = false %}
    {% for area in site.data.research_areas %}
    {%if area.shortname == cur_shortname %}
      <title>{{ area.h-name }} Research | Mathematics at the University of Virginia</title>
      {% assign title_set = true %}
    {%endif%}
    {% endfor %}
    {% unless title_set %}
      <title>{{ page.title }} | Mathematics at the University of Virginia</title>
    {% endunless %}
  {% include header.html %}
</head>

<body>
<a href="#main-content" class="skip-link">Skip to main content</a>

{% include top_brand.html %}

{% include navbar.html %}

<main id="main-content">
<div class="container">
<div class="container">


      {{ content }}
</div>
</div>
</main>

{% include footer.html %}

{%unless page.math == false %}{% include katex %}{%endunless%}

{% include bootjs %}

{% include google-analytics.html %}{% include UVA_fonts.html %}

</body>

</html>
