<!DOCTYPE html>
<html lang="en">

<head>
  {% if page.sem_page == true and page.sem_archive != true %}
    {% assign xx = page.permalink | split: '/' %}
    {% for word in xx %}{% if forloop.last %}{% assign cur_shortname = word %}{%endif%}{% endfor %}
    {% for sem in site.data.seminars %}
    {%if sem.shortname == cur_shortname %}
      <title>{{ sem.name }} | Mathematics at the University of Virginia</title>
    {%endif%}
    {% endfor %}
  {% endif %}
  {% include header.html %}
</head>

<body>

{% include top_brand.html %}

{% include navbar.html %}

<div class="container">
<div class="container">

  <div class="row row-offcanvas row-offcanvas-right">
    <div class="col-12 col-md-8">

      {{ content }}
		</div>
    <div class="col-md-4 sidebar-offcanvas">

      {% if page.right_panel != false %}
      <br class="hidden-md-up">
      {% include seminar_right_menu.html %}
      <br>
      {%endif%}

      {% if page.events == true %}
        <h3>{{ site.new_seminars_label }}</h3>
        <div style="font-size:15px; margin: 0.5cm 0cm 0cm 0cm;" class="container">
          {% include cal_main.js current="true" max_sem=12 max_from_cal=7 %}
        </div>
      {% endif %}

    </div><!--/span-->
  </div>
</div>
</div>

{% include footer.html %}

{% include mathjax %}

{% include bootjs %}

</body>

</html>
